{% extends 'entrance/steps/base.html' %}

{% block title %}{{ entrance_block.step.questionnaire.title }}{% endblock %}

{% block not_passed_after_text %}
    <a href="{{ entrance_block.step.questionnaire.get_absolute_url }}" class="btn btn-sm btn-default">
        {% block not_passed_button_text %}
            Заполнить анкету
        {% endblock %}
    </a>
{% endblock %}

{% block passed_after_text %}
    <a href="{{ entrance_block.step.questionnaire.get_absolute_url }}" class="btn btn-sm btn-default">
        {% block passed_button_text %}
            Редактировать анкету
        {% endblock %}
    </a>
{% endblock %}