{% load date %}

{% for comment in checking_comments %}
    <h4>
        <span class="fw400">{{ forloop.counter }}.</span> {{ comment.commented_by.get_full_name }}
        <span class="pull-right fs12 fw400 text-muted" title="{{ comment.created_at }}">{{ comment.created_at|without_year }}</span>
    </h4>
    <p>
        <blockquote class="blockquote-thin pv5">
            <p class="fs14">
                {{ comment.comment|linebreaksbr }}
            </p>
        </blockquote>
    </p>
{% endfor %}

<div class="admin-form pt5">
    <form method="POST" action="{% url 'school:entrance:add_comment' request.school.short_name user.id %}">
        {% csrf_token %}
        {{ add_checking_comment_form }}
        <input type="hidden" name="next" value="{{ request.path }}"/>
        <button type="submit" class="btn btn-success mt10">Добавить</button>
    </form>
</div>
