{% extends 'staff_layout.html' %}

{% load dict_tags %}
{% load range %}
{% load number_to_text %}

{% block title %}{{ user_for_checking.get_full_name }}{% endblock %}

{% block topbar_left %}
    <div class="fs16 fw600 mt10 mb5">
        {% if checking_group %}
            Группа {{ checking_group.name }}, {{ user_for_checking.get_full_name }}
        {% else %}
            {{ user_for_checking.get_full_name }}, вступительная работа
        {% endif %}

        <form method="POST" action="{% url 'school:entrance:change_group' request.school.short_name user_for_checking.id %}" class="form form-horizontal form-inline ib pull-right">
            {% csrf_token %}
            <div class="form-group form-group-sm">
                {{ move_into_checking_group_form|get_item:'group_id' }}
                <button class="btn btn-sm btn-default">Переложить</button>
            </div>
        </form>

    </div>
{% endblock %}

{% block content %}
    <div class="mtn5 mb15">
        Выданы задания уровня <span class="label label-sm label-{{ level_upgrades|yesno:'primary,success' }}">{{ base_entrance_level.name }}</span>
        {% if level_upgrades %}
            , повышения до
            {% for upgrade in level_upgrades %}
                <span class="label label-sm label-{{ forloop.last|yesno:'success,primary' }}" title="{{ upgrade.created_at }}">
                    {{ upgrade.upgraded_to.name }}
                </span>
                {% if not forloop.last %},{% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            {% if test_tasks %}
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">Тестовые задания</span>
                    </div>
                    <div class="panel-body">
                        {% for test_task in test_tasks %}
                            <div class="mb10">
                                <div class="{{ test_task.is_solved|yesno:'text-success,text-danger' }} fs14">
                                    {{ test_task.title }}
                                    {% if test_task.user_solutions %}
                                        <span class="fs12 ml10 text-dark">
                                            Последняя попытка:
                                            <a href="#" class="internal-page-link" data-toggle="modal" data-target="#tasks__test__{{ test_task.id }}" title="Показать все попытки">
                                                {{ test_task.last_try|truncatechars:10 }}
                                            </a>
                                        </span>
                                    {% endif %}
                                </div>
                                <div id="tasks__test__{{ test_task.id }}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Решения задания «{{ test_task.title }}»</h4>
                                            </div>
                                            <div class="modal-body">
                                                {% for solution in test_task.user_solutions %}
                                                    <h4>
                                                        {{ forloop.revcounter }}. {{ solution.created_at }}
                                                    </h4>
                                                    <div class="mb10">
                                                        <span class="{{ solution.is_correct|yesno:'text-success,text-danger' }}">{{ solution.solution }}</span>
                                                    </div>

                                                {% endfor %}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if test_task.last_try and not test_task.is_last_correct and test_task.testentranceexamtask.correct_answer_re %}
                                    <div class="fs10">
                                        Правильный ответ:
                                        <span class="регулярное выражение">{{ test_task.testentranceexamtask.correct_answer_re }}</span>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Практика</span>
                </div>
                <div class="panel-body">
                    {% for program_task in program_tasks %}
                        <div>
                            <div class="{{ program_task.is_solved|yesno:'text-success,text-danger' }} fs14">
                                {{ program_task.title }}
                                {% if program_task.user_solutions %}
                                    <a href="#" class="internal-page-link fs12 ml10" data-toggle="modal" data-target="#tasks__program__{{ program_task.id }}">{{ program_task.user_solutions|length }} попыт{{ program_task.user_solutions|length|russian_pluralize:'ка,ки,ок' }}</a>
                                {% endif %}
                            </div>
                            <div class="fs10 mb10">
                                Уровни:
                                {% for entrance_level in program_task.entrancelevel_set.all %}
                                    <span class="">{{ entrance_level.name }}</span>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </div>
                            <div id="tasks__program__{{ program_task.id }}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Решения по задаче «{{ program_task.title }}»</h4>
                                        </div>
                                        <div class="modal-body">
                                            {% for solution in program_task.user_solutions %}
                                                <div>
                                                    <h4>
                                                        {{ forloop.revcounter }}.
                                                        <a href="{% url 'school:entrance:user_solution' request.school.short_name solution.id %}" target="_blank" title="Скачать решение">{{ solution.created_at }}</a>
                                                        <small class="ml5">{{ solution.language }}</small>
                                                    </h4>
                                                    <div class="mb10">
                                                        {% with solution.ejudge_queue_element.get_result as result %}
                                                            {% if result %}
                                                                <span class="{{ result.is_success|yesno:'text-success,text-danger' }}">{{ result }}</span>
                                                            {% else %}
                                                                Проверяется..
                                                            {% endif %}
                                                        {% endwith %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>

        <div class="col-md-8 col-sm-6 col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Общая информация</span>
                    <div class="mr10 pull-right fs12">
                        <a href="{% url 'school:entrance:user_profile' request.school.short_name user_for_checking.id %}"
                           target="_blank" class="ml10" title="Откроется в новом окне">
                            Профиль</a>
                        <a href="{% url 'school:entrance:user_questionnaire' request.school.short_name user_for_checking.id 'enrollee' %}"
                           target="_blank" class="ml10" title="Откроется в новом окне">
                            Анкета поступающего</a>
                        <a href="{% url 'school:entrance:user_topics' request.school.short_name user_for_checking.id %}"
                           target="_blank" class="ml10" title="Откроется в новом окне">
                            Тематическая анкета</a>
                    </div>
                </div>
                <div class="panel-body">
                    <div>
                        <span><b>{{ user_summary.class_number }} класс</b></span>,
                        <span>{{ user_summary.school }}</span>,
                        <span>{{ user_summary.city }}</span>
                    </div>
                    <div>
                        {% if user_summary.previous_parallels %}
                            <b>Был в параллелях:</b>
                            {% for par in user_summary.previous_parallels %}
                                {{ par }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        {% else %}
                            <b>Не был в ЛКШ</b>
                        {% endif %}
                    </div>
                    <div><b>Хочет в A-ML:</b> {{ user_summary.a_ml|yesno:"Да,Нет" }}</div>
                </div>
            </div>

            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Теория</span>
                </div>
                <div class="panel-body">
                    {% for file_task in file_tasks %}
                        <div class="fs14 fw600 mb5">
                            {{ forloop.counter }}. {{ file_task.title }}
                            {% if file_task.last_solution %}
                                <span class="fw400 text-muted ml10">{{ file_task.last_solution.created_at }}</span>
                                <div class="mv5">
                                    <a href="{% url 'school:entrance:user_solution' request.school.short_name file_task.last_solution.id %}" title="Скачать решение" class="btn btn-xs btn-default">
                                        <span class="fa fa-download"></span> Скачать
                                    </a>
                                    <a href="{% url 'school:entrance:check_users_task' school_name=request.school.short_name user_id=user.id task_id=file_task.id %}" title="Оценить решение" class="btn btn-xs btn-success">
                                        Оценить
                                    </a>
                                </div>
                                {% if file_task.checks %}
                                    <div class="fs12 fw400">
                                        {% for check in file_task.checks %}
                                            <b>{{ check.checked_by.get_full_name }}:</b>
                                            {{ check.score }} балл{{ check.score|russian_pluralize:',а,ов' }}{% if check.comment %}, <i>«{{ check.comment }}»</i>{% endif %}
                                            <span class="text-muted ml10">{{ check.created_at }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% else %}
                                <span class="fs12 fw400">(не сдана)</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>

    </div>
{% endblock %}
