{% extends 'staff_layout.html' %}

{% load dict_tags %}
{% load range %}
{% load number_to_text %}
{% load math %}
{% load markdown_deux_tags %}
{% load groups %}
{% load date %}
{% load staticfiles %}

{% block title %}{{ user_for_checking.get_full_name }}, «{{ task.title }}»{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'entrance/css/staff/check.css' %}">
{% endblock %}

{% block topbar_left %}
    <ol class="breadcrumb">
        <li class="crumb-active">
            <a href="{% url 'school:entrance:check' request.school.short_name %}">Проверка вступительной работы</a>
        </li>
        {% if group %}
            <li class="crumb-link">
                <a href="{% url 'school:entrance:check_group' request.school.short_name group.short_name %}">{{ group.name }}</a>
            </li>
        {% endif %}
        <li class="crumb-link">
            {% ifingroup 'entrance__admins' %}
                <a href="{% url 'school:entrance:enrolling_user' request.school.short_name user_for_checking.id %}">{{ user_for_checking.get_full_name }}</a>
            {% else %}
                {{ user_for_checking.get_full_name }}
            {% endifingroup %}
        </li>
        <li class="crumb-trail">
            «{{ task.title }}»
        </li>
    </ol>
{% endblock %}

{% block content %}
    <div class="mtn5 mb15 text-muted">
        Выданы задания уровня <span class="label label-sm label-{{ level_upgrades|yesno:'primary,success' }}">{{ base_entrance_level.name }}</span>
        {% if level_upgrades %}
            , повышения до
            {% for upgrade in level_upgrades %}
                <span class="label label-sm label-{{ forloop.last|yesno:'success,primary' }}" title="{{ upgrade.created_at }}">
                {{ upgrade.upgraded_to.name }}
            </span>
                {% if not forloop.last %},{% endif %}
            {% endfor %}
        {% endif %}

        <div class="pull-right mb10">
            Проверено <strong>{{ task.checked_solutions_count }} из {{ task.total_solutions_count }}</strong> решени{{ task.total_solutions_count|russian_pluralize:'я,й,й' }} этой задачи
            {% if group %}
                <div class="hidden-md hidden-lg hidden-xl"></div>
                &nbsp;в&nbsp;группе «{{ group.name }}»
            {% endif %}
            <div class="progress progress-bar-xxs mbn mt5 bg-danger">
                {% with percents=task.checked_solutions_count|multiply:100|divide:task.total_solutions_count|to_int %}
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ task.checked_solutions_count }}" aria-valuemin="0" aria-valuemax="{{ task.total_solutions_count }}" style="width: {{ percents }}%;">
                    </div>
                {% endwith %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title" title="{{ task.title }}">
                        {{ task.title|truncatechars:30 }}
                        <span class="fs12 text-muted pull-right mr10" title="Последнее решение: {{ last_solution.created_at }}">{{ last_solution.created_at|without_year }}</span>
                    </span>
                </div>
                <div class="panel-body">
                    <h3 class="mtn">
                        Скачать решение
                    </h3>
                    <p>
                        <a href="{% url 'school:entrance:user_solution' request.school.short_name last_solution.id %}" title="Скачать решение">{{ last_solution.original_filename|default_if_none:'Решение' }}</a>,
                        <span class="text-muted" title="{{ last_solution.created_at }}">загружено {{ last_solution.created_at|without_year }}</span>
                    </p>
                    {% if solutions|length > 1 %}
                        <div>
                            <h3>Предыдущие попытки</h3>
                            {% for solution in solutions|slice:"1:" %}
                                <div>
                                    {{ forloop.revcounter }}.
                                    <a href="{% url 'school:entrance:user_solution' request.school.short_name solution.id %}" title="Скачать решение">{{ solution.original_filename|default_if_none:'Решение' }}</a>,
                                    <span class="text-muted" title="{{ solution.created_at }}">загружено {{ solution.created_at|without_year }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if locked_by_me %}
                        <h3>Оценить</h3>
                        {% if task.checking_criteria %}
                            <p>Для выставления оценки используйте критерии, написанные справа</p>
                        {% endif %}
                        <div class="btn-group mb20" data-toggle="buttons">
                            {% with max_score=task.max_score|add:1 %}
                                {% mkrange max_score as marks_range %}
                                {% for mark in marks_range %}
                                    <label class="btn btn-default {% if last_mark == mark %}active{% endif %} w40" onClick="$('#{{ task.mark_field_id }}').val('{{ mark }}')">
                                        <input type="radio" class="cursor-pointer">{{ mark }}
                                    </label>
                                {% endfor %}
                            {% endwith %}
                        </div>

                        <div class="admin-form">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <p class="fs13">В комментарии укажите, почему вы поставили такую оценку</p>
                                {{ mark_form }}

                                <button type="submit" class="btn btn-success mt15">Сохранить</button>
                                <button type="submit" name="refuse" class="btn btn-danger mt15 pull-right">Отказаться от&nbsp;проверки</button>
                            </form>
                        </div>
                    {% else %}
                        <p class="text-muted">
                            Решение заблокировано другим проверяющим.
                        </p>
                    {% endif %}
                </div>
            </div>

            <div class="panel-group">
                <div class="panel">
                    <div class="panel-heading">
                        <a class="accordion-toggle accordion-icon link-unstyled collapsed" data-toggle="collapse" href="#entrance-checking__statement" title="Нажмите, чтобы развернуть">
                            Условие задачи
                            <span class="pull-right hidden-xs text-muted pr10 fs12">развернуть <span class="fa fa-chevron-down"></span></span>
                        </a>
                    </div>
                    <div class="panel-collapse collapse" id="entrance-checking__statement" style="height: 0px;">
                        <div class="panel-body">
                            {{ task.text|markdown }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            {% if task.checking_criteria %}
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">Критерии проверки</span>
                    </div>
                    <div class="panel-body">
                        {{ task.checking_criteria|markdown }}
                    </div>
                </div>
            {% endif %}

            {% if checks %}
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">Предыдущие проверки этой задачи</span>
                        {% include 'entrance/staff/_not_visible_to_enrollee.html' %}
                    </div>
                    <div class="panel-body pt10">
                        {% for check in checks %}
                            <h4>
                                <span class="fw400">{{ forloop.revcounter }}.</span> {{ check.checked_by.get_full_name }}
                                <span class="label label-sm ml5 mr10 label-{% ifequal check.score task.max_score %}success{% else %}{% ifequal check.score 0 %}danger{% else %}warning{% endifequal %}{% endifequal %}">
                                    {{ check.score }} балл{{ check.score|russian_pluralize:',а,ов' }}
                                </span>
                                <span class="pull-right fs12 fw400 text-muted" title="{{ check.created_at }}">{{ check.created_at|without_year }}</span>
                            </h4>

                            {% if check.comment %}
                                <blockquote class="blockquote-thin pv5">
                                    <p class="fs14">
                                        {{ check.comment|linebreaksbr }}
                                    </p>
                                </blockquote>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Общие комментарии по&nbsp;школьнику</span>
                    {% include 'entrance/staff/_not_visible_to_enrollee.html' %}
                </div>
                <div class="panel-body pt5">
                    {% include 'entrance/staff/_checking_comments.html' with user=user_for_checking %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
