{% extends 'staff_layout.html' %}

{% comment %}
List of solution checks. Supports showing checks by specific teacher or for
specific task.

Arguments:
checks - sequence of CheckedSolution instances to show. It's better to prefetch
    ExtranctExamTaskSolution object (check.solution field) for each of them
group - checking group to show the list for
task - the task all the checks belong to. Pass only if showing list of checks
    for a specific task.
teacher - the teacher all the checks are made by. Pass only if showing list of
    checks made by a specific teacher.
{% endcomment %}

{% load number_to_text %}
{% load dict_tags %}

{% block content %}
    {% if not checks %}
        <p class="text-muted">
            В&nbsp;этой группе ничего не проверено. <a href="javascript:history.go(-1)">Вернуться назад</a>.
        </p>
    {% else %}
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    Проверенные решения
                    в&nbsp;группе «{{ group.name }}»
                    <span class="label label-sm bg-info ml10">{{ checks|length }} провер{{ checks|length|russian_pluralize:'ка,ки,ок' }}</span>
                </div>
            </div>
            <div class="panel-body">

                {% if task or teacher %}
                    <div class="mb10">
                        {% if task %}
                            <div class="label label-alert">Задача: {{ task.title }}</div>
                        {% endif %}
                        {% if teacher %}
                            <div class="label label-system">Проверяющий: {{ teacher.get_full_name }}</div>
                        {% endif %}
                    </div>
                {% endif %}

                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Дата и&nbsp;время</th>
                        <th>Школьник</th>
                        {% if not task %}
                            <th>Задача</th>
                        {% endif %}
                        <th>Баллы</th>
                        {% if not teacher %}
                            <th>Кем проверено</th>
                        {% endif %}
                        <th>Комментарий</th>
                        <th><span class="fa fa-download" title="Скачать решение"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for check in checks %}
                        <tr>
                            <td>{{ forloop.revcounter }}</td>
                            <td>
                                <a href="{% url 'school:entrance:check_users_task' school_name=request.school.short_name group_name=group.short_name user_id=check.solution.user_id task_id=check.solution.task.id %}" title="Посмотреть проверку">
                                    {{ check.created_at }}
                                </a>
                            </td>
                            <td>{{ check.solution.user.get_full_name }}</td>
                            {% if not task %}
                                <td>
                                    {{ check.solution.task.title }}
                                    {% if teacher %}
                                        <a href="{% url 'school:entrance:teacher_task_checks' request.school.short_name group.short_name check.checked_by_id check.solution.task_id %}" title="Оставить только решения по этой задаче"><span class="fa fa-filter"></span></a>
                                    {% else %}
                                        <a href="{% url 'school:entrance:task_checks' request.school.short_name group.short_name check.solution.task_id %}" title="Оставить только решения по этой задаче"><span class="fa fa-filter"></span></a>
                                    {% endif %}
                                </td>
                            {% endif %}
                            <td class="{% ifequal check.score check.solution.task.max_score %}text-success{% else %}text-danger{% endifequal %}">
                                {{ check.score }}
                            </td>
                            {% if not teacher %}
                                <td>
                                    {{ check.checked_by.get_full_name }}
                                    {% if task %}
                                        <a href="{% url 'school:entrance:teacher_task_checks' request.school.short_name group.short_name check.checked_by_id task.id %}" title="Оставить работы этого проверяющего"><span class="fa fa-filter"></span></a>
                                    {% else %}
                                        <a href="{% url 'school:entrance:teacher_checks' request.school.short_name group.short_name check.checked_by_id %}" title="Оставить работы этого проверяющего"><span class="fa fa-filter"></span></a>
                                    {% endif %}
                                </td>
                            {% endif %}
                            <td class="mw240"><i>{{ check.comment|truncatewords:10 }}</i></td>
                            <td>
                                <a href="{% url 'school:entrance:user_solution' request.school.short_name check.solution.id %}" class="visible-on-row-hover" title="Скачать решение">
                                    <span class="fa fa-download"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    {% endif %}
{% endblock %}
