{% extends 'staff_layout.html' %}

{% load markdown_deux_tags %}
{% load number_to_text %}

{% block title %}Проверка вступительной работы, группы {{ group.name }}{% endblock %}

{% block topbar %}{% endblock %}

{% block content %}
    <h3 class="mb20">
        Проверка вступительной работы, группа {{ group.name }}
    </h3>

    {% if tasks %}
        <div class="panel">
            <div class="panel-heading">
                <ul class="nav panel-tabs-border panel-tabs panel-tabs-left">
                    {% for task in tasks %}
                        <li class="{{ forloop.first|yesno:'active,' }}">
                            <a href="#entrance__checking_problem__{{ task.id }}"
                               data-toggle="tab"
                               aria-expanded="true"
                               title="{{ task.title }}"
                            >
                                {{ forloop.counter }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content pn br-n">
                    {% for task in tasks%}
                        <div id="entrance__checking_problem__{{ task.id }}" class="tab-pane {{ forloop.first|yesno:'active,' }}">
                            <h3 class="mtn mb20">«{{ task.title }}»</h3>

                            <h4>Условие</h4>
                            {{ task.text|markdown }}

                            <h4>Проверка</h4>
                            <p class="text-muted">
                                Проверено {{ task.checked_solutions_count }} из {{ task.solutions_count }} работ{{ task.solutions_count|russian_pluralize:'ы,,' }}
                            </p>
                            <p>
                                <a href="{% url 'school:entrance:check_task' request.school.short_name group.short_name task.id %}"
                                   class="btn btn-sm {% ifequal task.checked_solutions_count task.solutions_count %}disabled btn-default{% else %}btn-success{% endifequal %}
                                   ">
                                    Перейти к&nbsp;проверке
                                </a>
                            </p>

                            {% if task.checks %}
                                <h4>Последние проверки</h4>
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th>№</th>
                                            <th>Дата и время</th>
                                            <th>Школьник</th>
                                            <th>Баллы</th>
                                            <th>Кем проверено</th>
                                            <th>Комментарий</th>
                                        </tr>
                                    </thead>
                                    {% for check in task.checks %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ check.created_at }}</td>
                                            <td>
                                                <a href="{% url 'school:entrance:check_users_task' school_name=request.school.short_name user_id=check.solution.user_id task_id=task.id %}">
                                                    {{ check.solution.user.get_full_name }}
                                                </a>
                                            </td>
                                            <td class="{% ifequal check.score task.max_score %}text-success{% else %}text-danger{% endifequal %}">{{ check.score }} {% if forloop.first %}балл{{ check.score|russian_pluralize:',а,ов' }}{% endif %}</td>
                                            <td>{{ check.checked_by.get_full_name }}</td>
                                            <td><i>{{ check.comment|truncatewords:10 }}</i></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="text-muted">
            В этой группе нет задач для проверки.
            <a href="{% url 'school:entrance:check' request.school.short_name %}">Вернуться назад</a>.
        </div>
    {% endif %}

{% endblock %}