{% extends 'staff_layout.html' %}

{% load number_to_text %}

{% block title %}Проверка вступительной работы{% endblock %}

{% block topbar_left %}
    <ol class="breadcrumb">
        <li class="crumb-active">
            Проверка вступительной работы
        </li>
    </ol>
{% endblock %}

{% block content %}

    <div class="row">
        {% for group in checking_groups %}
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <span class="panel-title">{{ group.name|truncatechars:27 }}</span>
                        <div class="widget-menu pull-right mr10">
                            <span class="label label-sm bg-white text-info" title="В этой группе {{ group.group_users|length }} школьник{{ group.group_users|length|russian_pluralize:',а,ов' }}">{{ group.group_users|length }}</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        {% if group.group_users %}
                            {% if group.group_tasks %}
                                <h4 class="mtn">Задачи для&nbsp;проверки</h4>
                                <ul class="pl20">
                                    {% for task in group.group_tasks %}
                                        <li>{{ task.title }}
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            <p class="mt15 mbn">
                                <a href="{% url 'school:entrance:check_group' school_name=request.school.short_name group_name=group.short_name %}"
                                   class="btn btn-info btn-sm">
                                    Начать проверку
                                </a>
                            </p>
                        {% else %}
                            <div class="text-muted">Пустая группа. Добавьте школьников в&nbsp;группу, чтобы начать проверку.</div>
                        {% endif %}
                    </div>
                    {% if group.group_users %}
                        <div class="panel-footer p15">
                            <a href="{% url 'school:entrance:checking_group_users' school_name=request.school.short_name group_name=group.short_name %}" class="btn btn-sm btn-default mr10">Школьники</a>
                            <a href="{% url 'school:entrance:checking_group_checks' school_name=request.school.short_name group_name=group.short_name %}" class="btn btn-sm btn-default">Проверенные работы</a>
                        </div>
                    {% endif %}
                </div>
            </div>

            {% if forloop.counter|divisibleby:2 %}
                <div class="clearfix visible-md-block"></div>
            {% endif %}
            {% if forloop.counter|divisibleby:3 %}
                <div class="clearfix visible-lg-block"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}