{% extends 'entrance/staff/checks_list.html' %}

{% load number_to_text %}

{% block title %}Проверка вступительной работы, {{ group.name }}{% endblock %}

{% block topbar_left %}
    <ol class="breadcrumb">
        <li class="crumb-active">
            <a href="{% url 'school:entrance:check' request.school.short_name %}">Проверка вступительной работы</a>
        </li>
        {% if task %}
            <li class="crumb-link">
                <a href="{% url 'school:entrance:check_group' request.school.short_name group.short_name %}">{{ group.name }}</a>
            </li>
            <li class="crumb-trail">Задача «{{ task.title }}»</li>
        {% else %}
            <li class="crumb-link">
                <a href="{% url 'school:entrance:check_group' request.school.short_name group.short_name %}">{{ group.name }}</a>
            </li>
            <li class="crumb-trail">Проверенные решения</li>
        {% endif %}
    </ol>
{% endblock %}
