{% extends 'staff_layout.html' %}

{% comment %}
List of group's checking teachers with statistics.

Arguments:
group - checking group to show the list for
teachers - list of User instances: teachers who checked submissions in this group
tasks - {task_id: task} dict
teacher_solutions_count - {teacher_id: checked_solutions_count} defaultdict
teacher_tasks - {teacher_id: [task_ids, ...]} defaultdict
teacher_task_solutions_count - {teacher_id: {task_id: checked_solutions_count}} defaultdict
average_scores - {teacher_id: {task_id: average_score}} defaultdict
{% endcomment %}

{% load number_to_text %}
{% load dict_tags %}
{% load math %}

{% block title %}Проверка вступительной работы, {{ group.name }}, проверяющие{% endblock %}

{% block topbar_left %}
    <ol class="breadcrumb">
        <li class="crumb-active">
            <a href="{% url 'school:entrance:check' request.school.short_name %}">Проверка вступительной работы</a>
        </li>
        <li class="crumb-link">
            <a href="{% url 'school:entrance:check_group' request.school.short_name group.short_name %}">{{ group.name }}</a>
        </li>
        <li class="crumb-trail">Проверяющие</li>
    </ol>
{% endblock %}

{% block content %}
    {% if not teachers %}
        <p class="text-muted">
            Работы в&nbsp;этой группе ещё никто не&nbsp;проверял. <a href="javascript:history.go(-1)">Вернуться назад</a>.
        </p>
    {% else %}
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    Проверяющие группы «{{ group.name }}»
                    <span class="label label-sm bg-info ml10">{{ teachers|length }} человек{{ teachers|length|russian_pluralize:',а,' }}</span>
                </div>
            </div>
            <div class="panel-body">

                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Проверяющий</th>
                        <th>Проверено</th>
                        <th>Задача</th>
                        <th>Проверено по&nbsp;задаче</th>
                        <th>Средний балл</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for teacher in teachers %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ teacher.get_full_name }}</td>
                            <td>
                                <a href="{% url 'school:entrance:teacher_checks' request.school.short_name group.short_name teacher.id %}">
                                    {{ teacher_solutions_count|get_item:teacher.id }}
                                    решени{{ teacher_solutions_count|get_item:teacher.id|russian_pluralize:'е,я,й' }}
                                </a>
                            </td>

                            {% for task_id in teacher_tasks|get_item:teacher.id %}
                                {% with task=tasks|get_item:task_id %}
                                    {% if not forloop.first %}
                                        {# Open new row and skip first 3 columns for each task except the first one #}
                                        <tr>
                                        <td colspan="3" class="br-t-n"></td>
                                    {% endif %}
                                    <td>{{ task.title }}</td>
                                    <td>
                                        <a href="{% url 'school:entrance:teacher_task_checks' request.school.short_name group.short_name teacher.id task.id %}">
                                            {{ teacher_task_solutions_count|get_item:teacher.id|get_item:task.id }}
                                            решени{{ teacher_task_solutions_count|get_item:teacher.id|get_item:task.id|russian_pluralize:'е,я,й' }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ average_scores|get_item:teacher.id|get_item:task.id }}
                                    </td>
                                    </tr>
                                {% endwith %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    {% endif %}
{% endblock %}
