{% load stringcase %}
{% load date %}

{% if entrance_block.payment_amount %}
    <p>
        Размер оргвзноса для вас с учётом скидок составляет <b>{{ entrance_block.payment_amount }} рублей</b>.
    </p>
    <p>
        {% if entrance_block.actual_discounts %}
            <b>Предоставленн{{ entrance_block.actual_discounts.count|pluralize:'ая,ые' }} скидк{{ entrance_block.actual_discounts.count|pluralize:'а,и' }}: </b>
            {% for discount in entrance_block.actual_discounts %}
                {% if discount.public_comment %}
                    {{ discount.public_comment|lowerfirst }}
                {% else %}
                    {{ discount.type_name|lowerfirst }}
                {% endif %}
                в размере {{ discount.amount }} рублей{% if not forloop.last %},{% endif %}
            {% endfor %}
            {% if entrance_block.actual_discounts.count > 1 %}
                <p>
                    Обратите внимание, что скидки не суммируются: применяется большая из них.
                </p>
            {% endif %}
        {% endif %}

        {% if entrance_block.considered_discounts %}
            Вы <b>рассматриваетесь</b> на получение скид{{ entrance_block.considered_discounts.count|pluralize:'ки,ок' }}:
            {% for discount in entrance_block.considered_discounts %}
                {% if discount.public_comment %}
                    {{ discount.public_comment|lowerfirst }}
                {% else %}
                    {{ discount.type_name|lowerfirst }}
                {% endif %}
                {% if not forloop.last %},{% endif %}
            {% endfor %}
        {% endif %}
    </p>
{% endif %}