{% extends 'entrance/steps/fill_questionnaire.html' %}

{% block not_passed_text %}
    {% include 'entrance/steps/finance/_fill_payment_info_text.html' %}
{% endblock %}

{% block passed_text %}
    {% include 'entrance/steps/finance/_fill_payment_info_text.html' %}
{% endblock %}

{% block not_passed_after_text %}
    {% if entrance_block.payment_amount != None %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block passed_after_text %}
    {% if entrance_block.payment_amount != None %}
        {{ block.super }}
    {% endif %}
{% endblock %}