{% load staticfiles %}

<!-----------------------------------------------------------------+
   ".navbar" Helper Classes:
-------------------------------------------------------------------+
   * Positioning Classes:
    '.navbar-static-top' - Static top positioned navbar
    '.navbar-static-top' - Fixed top positioned navbar

   * Available Skin Classes:
     .bg-dark    .bg-primary   .bg-success
     .bg-info    .bg-warning   .bg-danger
     .bg-alert   .bg-system
-------------------------------------------------------------------+
  Example: <header class="navbar navbar-fixed-top bg-primary">
  Results: Fixed top navbar with blue background
------------------------------------------------------------------->

<!-- Start: Header -->
<header class="navbar navbar-fixed-top navbar-shadow">
    <div class="navbar-branding">
        <a class="navbar-brand" href="{% url 'home' %}">
            <b>SIS</b>tema
        </a>
        <!--
            <span id="toggle_sidemenu_l" class="ad ad-lines"></span>
        -->
    </div>

    {# TODO (andgein): Copy-paste with user_layout.html #}
    <ul class="nav navbar-nav navbar-right">

        <li class="menu-divider hidden-xs">
            <i class="fa fa-circle"></i>
        </li>
        <li class="dropdown menu-merge">
            <a href="#" class="dropdown-toggle fw600 p15" data-toggle="dropdown" aria-expanded="false">
                <img src="{% static 'images/default_avatar.jpg' %}" alt="avatar" class="mw30 br64">
                <span class="hidden-xs pl15"> {{ user.first_name }} {{ user.last_name }}</span>
                <span class="caret caret-tp hidden-xs"></span>
            </a>
            <ul class="dropdown-menu list-group dropdown-persist w200" role="menu">
                <li class="list-group-item">
                  <a href="{% if request.school %}{% url "school:user" request.school.short_name %}{% else %}{% url "user" %}{% endif %}">
                        <span class="fa fa-gears"></span> Интерфейс школьника
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="{% url "user-profile" %}">
                        <span class="fa fa-user"></span> Профиль
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="{% url "account_change_password" %}">
                        <span class="fa fa-gear"></span> Изменить пароль
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="{% url "account_logout" %}">
                        <span class="fa fa-power-off"></span> Выход
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</header>
<!-- End: Header -->
