<!DOCTYPE html>

{% load staticfiles %}
{% load hijack_tags %}

<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} &bull; SIStema</title>
    <meta name="keywords" content="{% block keywords %}Летняя компьютерная школа,ЛКШ,SIS{% endblock %}" />
    <meta name="description" content="{% block description %}Летняя компьютерная школа — это летняя школа для учащихся 6-10 классов, увлечённых программированием. ЛКШ ориентирована в основном (но не только) на школьников, участвующих в олимпиадах по информатике — от начинающих до участников международных олимпиад.{% endblock %}">
    <meta name="author" content="SIStema authors">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block pre_css %}
    {% endblock %}

    <!-- Font CSS (Via CDN) -->
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>

    <link rel="stylesheet" type="text/css" href="{% static 'vendor/skin/default_skin/css/theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/admin-forms/css/admin-forms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/plugins/magnific/magnific-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/plugins/bootstrap-fileinput/css/fileinput.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common-only-xs.css' %}">
    {% block css %}
    {% endblock %}

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
     <![endif]-->
</head>

<body class="{% block body_classes %}{% endblock %}">
    {% hijack_notification %}

    {% block content_wrapper %}
        {% block content %}
        {% endblock %}
    {% endblock %}

    <script src="{% static 'vendor/jquery/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'vendor/jquery/jquery_ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'vendor/admin-designs/utility.js' %}"></script>
    <script src="{% static 'vendor/admin-designs/main.js' %}"></script>
    <script src="{% static 'vendor/plugins/magnific/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'vendor/js.cookie/js.cookie-2.1.3.min.js' %}"></script>
    <script src="{% static 'vendor/plugins/bootstrap-fileinput/js/fileinput.min.js' %}"></script>
    <script src="{% static 'vendor/plugins/bootstrap-fileinput/js/locales/ru.js' %}"></script>
    <script>
        Core.init();
    </script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.donetyping.js' %}"></script>
    <script src="{% static 'js/ajax-csrf.js' %}"></script>
    <script src="{% static 'js/post-request-links.js' %}"></script>

    {% block scripts %}
    {% endblock %}

    {% include "_yandex_metrika.html" %}
</body>

</html>
