{% extends 'layout.html' %}

{% load staticfiles %}

{% block body_classes %}sb-r-c sb-l-c{% endblock %}

{% block content_wrapper %}
    <div>
        {% if user.is_authenticated %}
            <header class="navbar navbar-shadow navbar-fixed-top">
                <div class="navbar-branding">
                    {% if request.school %}
                        <a class="navbar-brand" href="{% url 'school:index' request.school.short_name %}" title="На главную">
                            <b>{{ request.school.name }}</b>
                        </a>
                    {% else %}
                        <a class="navbar-brand" href="{% url 'home' %}" title="На главную">
                            <b>ЛКШ</b>
                        </a>
                    {% endif %}
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="menu-divider hidden-xs"><i class="fa fa-circle"></i></li>
                    <li class="dropdown menu-merge">
                        <a href="#" class="dropdown-toggle fw600 p15" data-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'images/default_avatar.jpg' %}" alt="avatar" class="mw30 br64">
                            <span class="pl15">
                                {% if user.user_profile.first_name %}
                                    {{ user.user_profile.first_name }}
                                    <span class="hidden-xs">
                                        {{ user.user_profile.last_name }}
                                    </span>
                                {% elif user.first_name %}
                                    {{ user.first_name }}
                                {% else %}
                                    Меню
                                {% endif %}
                            </span>
                            <span class="caret caret-tp"></span>
                        </a>
                        <ul class="dropdown-menu list-group dropdown-persist w200" role="menu">
                            {% if user.is_staff and request.school %}
                                <li class="list-group-item">
                                    <a href="{% url "school:staff" request.school.short_name %}">
                                        <span class="fa fa-gears"></span> Админка
                                    </a>
                                </li>
                            {% endif %}
                            <li class="list-group-item">
                                <a href="{% url "user:profile" %}">
                                    <span class="fa fa-user"></span> Профиль
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url "account_change_password" %}">
                                    <span class="fa fa-gear"></span> Изменить пароль
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url "account_logout" %}">
                                    <span class="fa fa-power-off"></span> Выход
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </header>
        {% endif %}

        <aside id="sidebar_left" class=""></aside>

        <section id="content_wrapper">
            <section id="content" class="">
                {% block content %}
                {% endblock %}
            </section>
        </section>
    </div>
{% endblock %}
