{% load tz %}

<h3 class="mt10">Ваши решения</h3>

<input type="hidden" name="is_checking" value="{{ is_checking|yesno:'true,false' }}">
<input type="hidden" name="is_passed" value="{{ is_passed|yesno:'true,false' }}">

{% if solutions %}
    <div class="submit header">
        <div class="submit__counter"></div>
        {% block additional_columns_header %}
        {% endblock %}
        <div class="submit__status">
            Статус
        </div>
        <div class="submit__date">
            <nobr>Дата и&nbsp;время (МСК)</nobr>
        </div>
    </div>
{% endif %}

{% for solution in solutions %}
    {% with solution.ejudge_queue_element.get_result as result %}
        <div class="submit {% if result %}
                {% if result.is_success %}
                    text-success
                {% elif result.is_partial %}
                    text-partial
                {% else %}
                    text-danger
                {% endif %}
            {% endif %}">
            <div class="submit__counter"> {{ forloop.revcounter }}.</div>
            {% block additional_columns %}
            {% endblock %}

            <div class="submit__result">
                {% if result %}
                    {{ result }}
                {% else %}
                    Проверяется... <i class="fa fa-spin fa-spinner"></i>
                {% endif %}
            </div>

            <div class="submit__date" title="{{ solution.created_at }}">
                {% timezone "Europe/Moscow" %}
                    {{ solution.created_at }}
                {% endtimezone %}
            </div>
        </div>
    {% endwith %}
{% empty %}
    <p class="text-muted">Здесь будут отображаться ваши попытки по&nbsp;этой задаче</p>
{% endfor %}