<h3 class="mt10">Ваши решения</h3>

<input type="hidden" name="is_checking" value="{{ is_checking|yesno:'true,false' }}">
<input type="hidden" name="is_passed" value="{{ is_passed|yesno:'true,false' }}">

{% if solutions %}
    <div class="submit header">
        <div class="submit__counter"></div>
        {% if task.problem_type == task.ProblemType.STANDARD %}
            <div class="submit__language">
                Язык
            </div>
        {% endif %}
        <div class="submit__status">
            Статус
        </div>
        <div class="submit__date">
            Дата и&nbsp;время
        </div>
    </div>
{% endif %}

{% for solution in solutions %}
    {% with solution.ejudge_queue_element.get_result as result %}
        <div class="submit {% if result %}{{ result.is_success|yesno:'text-success,text-danger,'}}{% endif %}">
            <div class="submit__counter"> {{ forloop.revcounter }}.</div>
            {% if task.problem_type == task.ProblemType.STANDARD %}
                <div class="submit__language">{{ solution.language }}</div>
            {% endif %}

            <div class="submit__result">
                {% if result %}
                    {{ result }}
                {% else %}
                    Проверяется... <i class="fa fa-spin fa-spinner"></i>
                {% endif %}
            </div>

            <div class="submit__date" title="{{ solution.created_at }}">
                {% load date %}
                {{ solution.created_at }}
            </div>
        </div>
    {% endwith %}
{% empty %}
    <p class="text-muted">Здесь будут отображаться ваши попытки по&nbsp;этой задаче</p>
{% endfor %}