<h3 class="mt10">Ваши решения</h3>

<input type="hidden" name="is_checking" value="{{ is_checking|yesno:'true,false' }}">

{% if solutions %}
    <div class="submit header">
        <div class="counter"></div>
        <div class="language">
            Язык
        </div>
        <div class="status">
            Статус
        </div>
    </div>
{% endif %}

{% for solution in solutions %}
    {% with solution.ejudge_queue_element.get_result as result %}
        <div class="submit {{ result.is_success|yesno:'text-success,text-danger,'}}">
            <div class="counter"> {{ forloop.revcounter }}.</div>
            <div class="language">{{ solution.language }}</div>

            <div class="result">
                {% if result %}
                    {{ result }}
                {% else %}
                    Проверяется...
                {% endif %}
            </div>
        </div>
    {% endwith %}
{% empty %}
    <p class="text-muted">Здесь будут отображаться ваши попытки по этой задаче</p>
{% endfor %}