{% extends 'entrance/exam/base.html' %}

{% block panel_icon %}
    <i class="fa fa-file-pdf-o"></i>
{% endblock %}

{% block description %}
    <p>
        Вам нужно придумать и записать теоретическое решение предложенной задачи.
        К проверке принимаются файлы форматов txt, pdf, jpg и doc(x).
    </p>
    <p>
        Старайтесь формулировать ваши мысли как можно более логично и структурированно.
        Написанные программа или ответ не являются решением задачи. Решение должно содержать
        последовательный ход ваших мыслей. Укажите, как именно вы вычисляли ответ,
        как вы получили все использованные формулу и почему полученный результат является ответом на данную задачу.
    </p>
{% endblock %}

{% block answer_form %}
    <div class="mw400">
        <form method="POST" action="" enctype="multipart/form-data">
            {% if not is_closed %}
                <h3 class="mt10">Выберите файл с&nbsp;решением</h3>
                {{ task.form }}
            {% endif %}
            {% if task.user_solution %}
                <div>
                    <a href="{% url 'school:entrance:solution' school.short_name task.user_solution.id %}">Скачать</a> ваше решение для этой задачи
                </div>
            {% endif %}
            {% if task.help_text %}
                <span class="help-block mbn">
                    {{ task.help_text }}
                </span>
            {% endif %}
            <em class="status"></em>
        </form>

        {% if task.user_solutions %}
            {% with last_solution=task.user_solutions.0 %}
                <div class="mt20">
                    <p>
                        Вы отправили файл <b>{{ last_solution.original_filename }}</b> {{ last_solution.created_at }}.
                    </p>
                    <p>
                        Решение будет проверено только после окончания вступительной работы.
                    </p>
                </div>
            {% endwith %}
        {% endif %}
    </div>
{% endblock %}