{% extends 'entrance/exam/base.html' %}

{% load markdown_deux_tags %}

{% block panel_icon %}
    <i class="fa fa-file-pdf-o"></i>
{% endblock %}

{% block description %}
    <p>
        Вам нужно придумать и записать теоретическое решение предложенной задачи.
        К проверке принимаются файлы форматов txt, pdf, png, jpg и doc(x).
    </p>
    <p>
        Старайтесь формулировать ваши мысли как можно более логично и структурированно.
        Написанные программа или ответ не являются решением задачи. Решение должно содержать
        последовательный ход ваших мыслей. Укажите, как именно вы вычисляли ответ,
        как вы получили все использованные формулы и почему полученный результат является ответом на данную задачу.
    </p>
    <p>
        Вы можете отправить несколько решений. Мы проверим последнее из них.
    </p>
{% endblock %}

{% block answer_form %}
    <div class="mw400">
        <form method="POST" action="" enctype="multipart/form-data">
            {% if not is_closed %}
                {% if category.is_closed %}
                    {{ category.text_after_closing|markdown }}
                {% else %}
                    <h3 class="mt10">Выберите файл с&nbsp;решением</h3>
                    {{ task.form }}
                {% endif %}
            {% endif %}
            {% if task.user_solution %}
                <div>
                    <a href="{% url 'school:entrance:solution' school.short_name task.user_solution.id %}">Скачать</a> ваше решение для этой задачи
                </div>
            {% endif %}
            {% if task.help_text %}
                <span class="help-block mbn">
                    {{ task.help_text }}
                </span>
            {% endif %}
            <div class="mv20">
                <em class="status"></em>
            </div>
        </form>

        <div class="entrance-exam__task__file__submits">
            {% if task.user_solutions %}
                {% with last_solution=task.user_solutions.0 %}
                    {% include 'entrance/exam/_file_solutions.html' with solution=last_solution %}
                {% endwith %}
            {% endif %}
        </div>
    </div>
{% endblock %}
