.entrance-steps.past .admin-form .heading-border .panel-heading {
    line-height: 28px;
    padding: 20px 25px 15px;
}

.entrance-steps.past .admin-form .panel-title {
    font-size: 19px;
}

.entrance-steps.past .panel-body p {
    font-size: 13px;
}

/* Copied from .btn-sm */
.entrance-steps.past .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
}