{% load dict_tags %}

<div class="{{ question.errors|yesno:'state-error,' }}">
    <label class="questionnaire__question-label">
        <span class="{{ question.field.disabled|yesno:'text-muted,' }}">
            {{ question.label }}
            {% if question.field.required %}
                *
            {% endif %}
        </span>
    </label>
    {{ question }}
    {% if question.help_text %}
        <p class="help-block">{{ question.help_text }}</p>
    {% endif %}
</div>

{% if question.errors %}
    {% for error in question.errors %}
        <em>{{ error }}</em>
    {% endfor %}
{% endif %}

