#id_email_message {
    resize: none;
}

#delete {
    cursor: pointer;
}

.email {
    border-bottom: thin solid black;
}

.email-link:hover {
    text-decoration: none;

#back {
    cursor: pointer;
    font-size: 12pt;
    color: #999;
}

#back:hover{
    color: #595959;
}

.panel-title {
    cursor: default;
}