{% extends "account/centered_panel.html" %}

{% load account %}

{% block title %}Сброс пароля{% endblock %}

{% block panel_title %}
    <i class="fa fa-lock"></i> Забыли пароль?
{% endblock %}

{% block panel_body %}
    {% with need_form=True %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block text_before_form %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class="alert alert-default alert-micro alert-border-left">
        Мы вышлем ссылку для сброса пароля на&nbsp;указанный адрес
    </div>
{% endblock %}

{% block panel_footer %}
    <div class="panel-footer clearfix p25 text-right">
        <button type="submit" class="button btn-primary">Сбросить пароль</button>
    </div>
{% endblock %}
