{% extends "account/centered_panel.html" %}

{% block title %}Изменить пароль{% endblock %}

{% block panel_title %}
    <i class="fa fa-lock"></i> Изменить пароль
{% endblock %}

{% block panel_body %}
    {% with need_form=True %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block panel_footer %}
    <div class="panel-footer clearfix p25 text-right">
        <a href="javascript:history.back()" class="pull-left ib p10">← Вернуться назад</a>
        <button type="submit" class="button btn-primary">Сохранить пароль</button>
    </div>
{% endblock %}
