{% extends "account/centered_panel.html" %}

{% block title %}Смена пароля{% endblock %}

{% block panel_title %}
    {% if token_fail %}
        <i class="fa fa-warning"></i> Неправильная ссылка
    {% else %}
        <i class="fa fa-lock"></i> Смена пароля
    {% endif %}
{% endblock %}

{% block panel_body %}
    {%  with need_form=token_fail|yesno:",True" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block panel_footer %}
    {% if not token_fail %}
        <div class="panel-footer clearfix p25 text-right">
            <button type="submit" class="button btn-primary">Сохранить пароль</button>
        </div>
    {% endif %}
{% endblock %}

{% block text_before_form %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>
            Ссылка для сброса пароля некорректна, возможно, вы уже воспользовались ей ранее.
            Пожалуйста, воспользуйтесь <a href="{{ passwd_reset_url }}">формой для сброса пароля</a> ещё раз.
        </p>
    {% endif %}
{% endblock %}
