.entrance-exam__tab {
    padding: 10px;
}

.entrance-exam__tab > h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

.entrance-exam__task__program__submits .submit {
    display: table-row;
}

.entrance-exam__task__program__submits .submit.header {
    font-weight: bold;
}

.entrance-exam__task__program__submits .submit > div {
    display: table-cell;
    padding-right: 10px;
    padding-bottom: 5px;
}

.entrance-exam__task__program__submits .submit .language {

}

.entrance-exam__task__statement {
    color: #222;
}

.entrance-exam .tabs-left > li > a {
    padding: 10px 12px;
}

.entrance-exam .tabs-border.tabs-left > li.active > a  {
    border-left-width: 4px;
}

.entrance-exam .tabs-left > li:not(.active) > a.solved {
    background-color: #E8FFE8;
}

.entrance-exam .tabs-border.tabs-left > li.active > a.solved {
    border-left-color: #5dbf5d;
}

.entrance-exam .tabs-left > li:not(.active) > a.not-solved {
    background-color: #FFE8E8;
}

.entrance-exam .tabs-border.tabs-left > li.active > a.not-solved {
    border-left-color: #bf5d5d;
}
