.entrance-exam__tab {
    padding: 10px;
}

.entrance-exam__tab > h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

.entrance-exam__task__program__submits .submit {
    display: table-row;
}

.entrance-exam__task__program__submits .submit.header {
    font-weight: bold;
}

.entrance-exam__task__program__submits .submit > div {
    display: table-cell;
    padding-right: 10px;
    padding-bottom: 5px;
}

.entrance-exam__task__program__submits .submit > div:last-child {
    padding-right: 0;
}

.entrance-exam__task__program__submits .submit .submit__result {
    min-width: 200px;
}

.entrance-exam__task__statement {
    color: #222;
}

.entrance-exam .tabs-left > li > a {
    padding: 10px 12px;
}

.entrance-exam .tabs-left > li.tabs-group:not(:first-child) > a {
    padding-top: 25px;
}

.entrance-exam .tabs-border.tabs-left > li.active > a  {
    border-left-width: 4px;
}

.entrance-exam .tabs-left > li:not(.active) > a.solved {
    background-color: #E8FFE8;
}

.entrance-exam .tabs-border.tabs-left > li.active > a.solved {
    border-left-color: #5dbf5d;
}

.entrance-exam .tabs-left > li:not(.active) > a.not-solved.accepted {
    background-color: #FFFDE7;
}

.entrance-exam .tabs-border.tabs-left > li.active > a.not-solved.accepted {
    border-left-color: #FDD835;
}

.entrance-exam .tabs-left > li:not(.active) > a.not-solved {
    background-color: #FFE8E8;
}

.entrance-exam .tabs-border.tabs-left > li.active > a.not-solved {
    border-left-color: #bf5d5d;
}

/* Status */
.entrance-exam .status {
    font-style: normal;
    font-size: 13px;
    font-weight: 600;
}

.entrance-exam .status.state-success {
    color: green;
}

.entrance-exam .status.state-error {
    color: red;
}


.entrance-exam .text-partial {
    color: #afab08;
}


@media (max-width: 768px) {
    .entrance-exam .tabs-left > li {
        max-width: 130px;
    }
}

/* Fix issue on firefox, safari and other browsers */
.entrance-exam .entrance-exam__task__program input.file,
.entrance-exam .entrance-exam__task__file input.file{
    transform: translate(-150px, 0) scale(4);
}
