{% extends 'layout.html' %}

{% load staticfiles %}
{% load dict_tags %}

{% block body_classes %}external-page sb-l-c sb-r-c{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/centered-form.css' %}">
{% endblock %}

{% block content %}
    <div id="main" class="">

        <section id="content_wrapper">

            <div id="canvas-wrapper">
                <canvas id="demo-canvas"></canvas>
            </div>

            <section id="content">

                <div class="admin-form centered-form {% block form_class %}{% endblock %}">

                    <div class="row mb15 table-layout">

                        <div class="col-xs-6 va-b fs15 fw600 pln text-white-lighter">
                            Летняя компьютерная школа
                        </div>

                        {% block right_links %}
                        {% endblock %}
                    </div>

                    <div class="panel panel-info mt10 br-n">

                        {% block panel_heading %}
                        {% endblock %}

                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="panel-body bg-light p30">
                                {% for field_name in form.Meta.show_fields %}
                                    {% with field=form|get_item:field_name %}
                                        <div class="section">
                                            <label for="{{ field.id_for_label }}" class="field-label text-muted fs18 mb10">{{ field.label }}</label>
                                            <label for="{{ field.id_for_label }}" class="field {{ field.field.widget.fa_type|yesno:"prepend-icon,," }}">
                                                {{ field }}
                                            </label>
                                            {{ field.errors }}
                                        </div>
                                    {% endwith %}
                                {% endfor %}
                            </div>

                            {% block panel_footer %}
                            {% endblock %}
                        </form>
                    </div>
                </div>

            </section>

        </section>

    </div>
{% endblock %}

{% block scripts %}
    <script src="vendor/plugins/canvasbg/canvasbg.js"></script>

    <script src="assets/js/utility/utility.js"></script>
    <script src="assets/js/demo/demo.js"></script>
    <script src="assets/js/main.js"></script>

    <!-- Page Javascript -->
    <script type="text/javascript">
    jQuery(document).ready(function() {

        "use strict";

        // Init Theme Core
        Core.init();

        // Init Demo JS
        Demo.init();

        // Init CanvasBG and pass target starting location
        CanvasBG.init({
            Loc: {
                x: window.innerWidth / 2,
                y: window.innerHeight / 3.3
            },
        });

    });
    </script>
{% endblock %}