{% extends 'staff_layout.html' %}

{% load dict_tags %}
{% load staticfiles %}

{% block title %}Настройки{% endblock %}

{% block topbar %}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "settings/style.css" %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'settings/settings.js' %}"></script>
{% endblock %}

{% block content %}

    <h1>
        {% if area == 'global' %} Глобальные настройки
        {% elif area == 'school' %} Настройки для школы {{ name }}
        {% elif area == 'session' %} Настройки для смены {{ name }}{% endif %}
    </h1>
    <button class="btn btn-default clear" type="button" onclick="clearSearch()">Очистить поиск</button>
    <div class="input-group search">
        <input type="text" class="form-control" id="search-query" placeholder="Например, letter">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="search()">Искать</button>
        </span>
    </div>
    {% for app in apps %}
        <h2>Приложение {{ app|title }}</h2>
        {% if apps|get_item:app|get_item:'groups' %}
            {% for group in apps|get_item:app|get_item:'groups' %}
                <div class="group">
                    <h3> {{ group.display_name }} </h3>
                    {% for item in group.items.all %}
                        {% include 'settings/_settings_item.html' with item=item %}
                    {% endfor %}
                    <hr/>
                </div>
            {% endfor %}
            <br/>
        {% endif %}
        {% if apps|get_item:app|get_item:'non_groups' %}
            {% for item in apps|get_item:app|get_item:'non_groups' %}
                {% include 'settings/_settings_item.html' with item=item %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}