{% extends 'staff_layout.html' %}

{% load dict_tags %}

{% block title %}Настройки{% endblock %}

{% block topbar %}{% endblock %}

{% block content %}
    <h2>
        {% if area == 'global' %} Глобальные настройки
        {% elif area == 'school' %} Настройки для школы {{ school_name }}
        {% elif area == 'session' %} Настройки для смены {{ session_name }}{% endif %}
    </h2>

    {% for app in apps %}
        <h3>{{ app }}</h3>
        {% if apps|get_item:app|get_item:'groups' %}
            {% for group in apps|get_item:app|get_item:'groups' %}
                <div class="group">
                    <h5> {{ group.display_name }} </h5>
                    {% for item in group.items.all %}
                        <div class="item">
                            <strong>{{ item.display_name }}</strong>
                            <p class="lead">{{ item.value }}</p>
                            <button class="btn">edit</button>
                        </div>
                    {% endfor %}
                    <hr>
                </div>
            {% endfor %}
            <br>
        {% endif %}
        {% if apps|get_item:app|get_item:'non_groups' %}
            {% for item in apps|get_item:app|get_item:'non_groups' %}
                <div class="item">
                    <strong>{{ item.display_name }}</strong>
                    <p class="lead">{{ item.value }}</p>
                    <button class="btn">edit</button>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}