{% extends 'user_layout.html' %}

{% load staticfiles %}
{% load dict_tags %}

{% block title %}{{ questionnaire.title }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/plugins/datepicker/css/bootstrap-datetimepicker.css' %}">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'vendor/plugins/moment/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/plugins/datepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'questionnaire/js/show-conditions.js' %}"></script>
    <script type="text/javascript" src="{% static 'questionnaire/js/typing-dynamics.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            {% for block_id, options in show_conditions.items %}
                $('#questionnaire__block__{{ options.0.block.short_name }}').showOnlyIfOptionChecked(
                    {% for option in options %}
                        {% if not forloop.first %}.add({% endif %}
                        $('input[value={{ option.need_to_be_checked.id }}]', '#questionnaire__block__{{ option.need_to_be_checked.question.short_name }}')
                        {% if not forloop.first %}){% endif %}
                    {% endfor %}
                );

            {% endfor %}

            $(':input').on('change', function(){
                $(window).bind('beforeunload', function(){
                    return 'Изменения в анкете не будут сохранены. Вы уверены?';
                });
            });

            $('form').submit(function(){
                $(window).unbind('beforeunload');
            });
        });
    </script>
{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="mw800 center-block mt30">

            <div class="admin-form theme-alert">
                <div class="panel panel-alert heading-border">

                    <div class="panel-heading bg-white">
                        <div class="panel-title">
                            {{ questionnaire.title }}
                        </div>
                    </div>

                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="panel-body bg-white">

                            {% if form.errors %}
                                <div class="alert alert-micro alert-danger alert-border-left">
                                    <span class="fa fa-remove pr10"></span>
                                    Есть некоторые ошибки, давайте поправим
                                </div>
                            {% elif already_filled and not is_closed%}
                                <div class="alert alert-micro alert-info alert-border-left">
                                    <span class="fa fa-info pr5"></span>
                                    Анкета уже заполнена, но вы можете внести в неё исправления
                                </div>
                            {% elif is_closed %}
                                <div class="alert alert-micro alert-info alert-border-left">
                                    <span class="fa fa-info pr5"></span>
                                    Обратите внимание, что вы уже не можете отредактировать анкету. Вам доступен только её просмотр
                                </div>
                            {% endif %}

                            {% for block in questionnaire.blocks %}
                                <div class="section mb40 questionnaire__block__{{ block.block_name }}" id="questionnaire__block__{{ block.short_name }}">
                                    {% if block.is_question %}
                                        {% include 'questionnaire/_question.html' with question=form|get_item:block.short_name %}
                                    {% else %}
                                        {% with template_name='questionnaire/_block_'|add:block.block_name|add:'.html' %}
                                            {% include template_name with block=block %}
                                        {% endwith %}
                                    {% endif %}
                                </div>
                            {% endfor %}

                        </div>

                        {% if not is_closed %}
                            {% if typing_dynamics_form %}
                              {{ typing_dynamics_form.typing_data }}
                            {% endif %}
                            <div class="panel-footer p25 text-right">
                                <button type="submit" class="button btn-success">Отправить</button>
                            </div>
                        {% endif %}

                    </form>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
