{% extends 'user_layout.html' %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery/jquery_ui/jquery-ui.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery/jquery_ui/jquery-ui.theme.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery/jquery_ui/jquery-ui.structure.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'mail/css/mail.css'%}">
{% endblock %}

{% block title %}Новое письмо{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="mw600 center-block mt30">
            <div class="admin-form theme-alert">
                <div class="panel panel-alert heading-border">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Новое письмо
                        </div>
                    </div>
                    <div class="panel-body p25 pt10">
                        <form method="post" id="mail-composer" class="centered-form" action="../send/">
                            {% csrf_token %}
                            {{ form }}
                            <div class="text-right">
                                <button class="btn btn-alert" type="submit">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'mail/js/user_hints.js' %}"></script>
{% endblock %}