{% extends 'user_layout.html' %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery/jquery_ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery/jquery_ui/jquery-ui.theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery/jquery_ui/jquery-ui.structure.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mail/css/mail.css' %}">
{% endblock %}

{% block title %}Новое письмо{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="mw600 center-block mt30">
            <div class="admin-form theme-alert">
                <div class="panel panel-alert heading-border">
                    <div class="panel-heading">
                        <a href="{{ link_back }}"><span class="glyphicon glyphicon-arrow-left pull-left mt15 pr20" id="back"></span></a>
                        <div class="panel-title">
                            Новое письмо
                        </div>
                    </div>
                    <div class="panel-body p25 pt10">
                        {% if message_id %}
                        <form enctype="multipart/form-data" method="post" id="mail-composer" class="centered-form" data-submit-url="{% url 'mail:save' message_id %}">
                        {% else %}
                        <form enctype="multipart/form-data" method="post" id="mail-composer" class="centered-form">
                        {% endif %}
                            {% csrf_token %}
                            {{ form }}
                            <div class="text-right mt10">
                                <button class="btn btn-alert" type="submit">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'mail/js/user_hints.js' %}"></script>
    {% if not no_draft %}
        <script type="text/javascript" src="{% static 'mail/js/draft_saver.js' %}"></script>
    {% endif %}
    <script type="text/javascript" src="{% static 'mail/js/draft_saver.js' %}"></script>
{% endblock %}