{% extends 'user_layout.html' %}

{% load staticfiles %}

{% block title %}Контакты{% endblock %}

{% block scripts %}
    <script src="{% static 'mail/js/check_all.js' %}"></script>
    <script type="text/javascript" src="{% static 'mail/js/contacts.js' %}"></script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'mail/css/mail.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="mw800 center-block mt30">
            <div class="admin-form theme-alert">
                <div class="panel panel-alert heading-border">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Контакты
                        </div>
                    </div>
                    <div class="panel-body p25 pt10">
                            <div class="row">
                                {% if contacts %}
                                    <div class="col-lg-7">
                                            <div class="checkbox-custom mr10">
                                                <input id="check_all" type="checkbox" checkbox_for="contact">
                                                <label for="check_all">Отметить все</label>
                                            </div>

                                        <form method="post">
                                            {% csrf_token %}
                                            {% for contact in contacts %}
                                                <div class="section mb15">
                                                    <div class="checkbox-custom email-checkbox sm-checkbox mb20 pull-left mr10">
                                                        <input id="{{ contact.id }}" type="checkbox"
                                                               name="contact_id_{{ contact.id }}" checkbox_group="contact">
                                                        <label for="{{ contact.id }}"></label>
                                                    </div>

                                                    <div id="contact-id-{{ forloop.counter }}"
                                                         class="ib mr15 ml10 mt15 contact-item">
                                                        <div class="contact_name ib">{{ contact.person.display_name }}</div>
                                                        {% if contacts.person.display_name %}
                                                            <span>-</span>
                                                        {% endif %}
                                                        <div class="contact_email ib">{{ contact.person.email }}</div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <button class="btn btn-danger pull-left" id="delete_all" type="button">Удалить контакты</button>
                                            <div class="modal fade" id="dialog" tabindex="-1" role="dialog"
                                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close"><span aria-hidden="true">&times;</span>
                                                            </button>
                                                            <h4 class="modal-title" id="myModalLabel">Вы уверены?</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            Вы действительно хотите удалить отмеченные контакты?
                                                        </div>
                                                        <div class="modal-footer">
                                                                <button type="button" class="btn btn-default"
                                                                        data-dismiss="modal">
                                                                    Отмена
                                                                </button>
                                                                <input type="hidden" name="type" value="delete">
                                                                <button type="submit" class="btn btn-danger">
                                                                    Удалить
                                                                </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                            {% endif %}
                            <div class="col-lg-5">
                                <!-- Contact edition form -->
                                <form class="centered-form" id="contact-editor" method="post">
                                    {% csrf_token %}
                                    {{ form }}
                                    <input class="btn btn-alert pull-right" type="submit" value="Добавить"
                                           id="save_contact"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}