{% extends 'mail/mail_list.html' %}

{% load staticfiles %}

{% block title %}Почта{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "mail/css/mail.css" %}">
{% endblock %}
{% block tabs %}
    <div class="section mb25 mtn ptn">
        <h3>
            <span class="mr10">Входящие</span>
            <span class="mr10"><a href="{% url 'mail:sent' %}">Отправленные</a></span>
            {% if email_user.have_drafts %}
            <span class="mr10"><a href="{% url 'mail:drafts' %}">Черновики</a></span>
            {% endif %}
            <span class="pull-right">
                <a href="{% url 'mail:contact_list' %}">
                Контакты
                </a>
            </span>
        </h3>
    </div>
{% endblock %}
{% block if_empty %}
    <div class="section mb5 fs16">
        {% if not search %}
            <span class="text-muted">Вам ещё никто не написал.</span>
            <a href="{% url 'mail:compose' %}">Отправьте письмо</a>.
        {% else %}
            <span class="text-muted">Результатов нет</span>
        {% endif %}
    </div>
{% endblock %}