{% extends 'user_layout.html' %}

{% load staticfiles %}

{% block title %}Почта{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "mail/css/mail.css" %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'mail/js/popup_notifications.js' %}"></script>
    <script src="{% static 'mail/js/check_all.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="mw800 center-block mt30">
            <form id="email_list" method="post" action="{% url 'mail:delete_all' %}">
                {% csrf_token %}
                <div class="admin-form theme-alert">
                    <div class="panel panel-alert heading-border">
                        <div class="panel-body p25 pt10">
                            <div class="section mb25 mtn ptn">
                                {% block tabs %}
                                {% endblock %}
                            </div>
                            {% if mail_list %}
                                <div class="checkbox-custom mb1 mr10">
                                    <input id="check_all" type="checkbox">
                                    <label for="check_all">Отметить все</label>
                                </div>
                                {% for email in mail_list %}
                                    <div class="section mb20">
                                        <div class="checkbox-custom mb1 pull-left va-m mr10">
                                            <input id="{{ email.id }}" type="checkbox" name="email_id {{ email.id }}">
                                            <label for="{{ email.id }}"></label>
                                        </div>
                                        <div>
                                            <div title="{{ email.sender.email }}" class="ib mr15 ml10 mt15">

                                                {{ email.sender.display_name }}
                                            </div>
                                            {% if email.is_draft %}
                                                <a href="{% url 'mail:edit' email.id %}">
                                                    <b>{{ email.subject }}</b>
                                                    — {{ email.html_text|truncatechars:50|striptags }}
                                                </a>
                                            {% else %}
                                                <a href="{% url 'mail:message' email.id %}">
                                                    <b>{{ email.subject }}</b>
                                                    — {{ email.html_text|truncatechars:50|striptags }}
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% block if_empty %}
                                {% endblock %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="text-right">
                        <div class="pull-left">
                            <button type="button" class="btn btn-danger" id="delete_all">Удалить отмеченные</button>
                        </div>
                        <a href="{% url 'mail:compose' %}" class="button btn-success">Написать письмо</a>

                    </div>
                    <div class="modal fade" id="dialog" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">Вы уверены?</h4>
                                    </div>
                                    <div class="modal-body">
                                        Вы действительно хотите удалить отмеченные письма?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            Отмена
                                        </button>
                                        <button type="submit" class="btn btn-danger">
                                            Удалить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}