{% extends 'user_layout.html' %}

{% block title %}{{ message_id }}{% endblock %}

{% block content %}
    <div><div>
        <b>Кому:</b> {{ email.sender.display_name }} {{ email.sender.email }}
    </div>
    <div>
        <b>От кого:</b>
        {% for recipient in email.recipients.all %}
            {{ recipient.display_name }} {{recipient.email}}{% if not forloop.last %},{% endif %}
        {% endfor %}
    </div>
    {% if email.cc_recipients.all %}
        <div>
            <b>Копия:</b>
            {% for cc_recipient in email.cc_recipients.all %}
                {{ cc_recipient.display_name }} {{ cc_recipient.email }}{% if not forloop.last %},{% endif %}
            {% endfor %}
        </div></div>
    {% endif %}
    <div>
        <b>Дата:</b> {{ email.created_at }}
    </div>
    <br>
    <div style="background-color: white">
        {{ email.html_text }}
    </div>
{% endblock %}