{% extends 'user_layout.html' %}

{% load staticfiles %}

{% block css %}

    <link rel="stylesheet" type="text/css" href="{% static 'mail/css/mail.css' %}">
{% endblock %}

{% block title %}{{ email.subject }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="mw800 center-block mt30">
            <div class="admin-form theme-alert">
                <div class="panel panel-alert heading-border">

                    <div class="panel-body p25 pt10">
                        <div class="section mb25 mtn ptn" id="subject">
                            <h3>
                                <a href="{{ link_back }}"><span class="glyphicon glyphicon-arrow-left pull-left pr20 ib" id="back"></span></a>
                                {{ email.subject }}
                            </h3>
                        </div>
                        <div class="section mb5 fs13">
                            <div class="pull-right">
                                {{ email.created_at }}
                            </div>
                            <div class="mb5">
                                <span class="fs14 mr5" style="font-weight: 700">{{ email.sender.display_name }}</span>
                                <span class="text-muted-darker">{{ email.sender.email }}</span>
                            </div>
                            <div class="fs13 text-muted-darker">
                                {% for recipient in email.recipients.all %}
                                    {{ recipient.display_name }} {{ recipient.email }}<!--
                                    -->{% if not forloop.last or email.cc_recipients.all %},{% endif %}
                                {% endfor %}
                                {% if email.cc_recipients.all %}
                                    {% for cc_recipient in email.cc_recipients.all %}
                                        {{ cc_recipient.display_name }} {{ cc_recipient.email }}
                                        {% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="section mbn mt25">
                            {{ email.html_text|safe|linebreaks }}
                        </div>
                        <div class="section mt15 mbn">
                            {% for attachment in email.attachments.all %}
                                {% include 'mail/_message_attachment.html' with attachment=attachment%}
                            {% endfor %}
                        </div>
                        <div class="text-left mt25">
                            {% if allow_replying %}
                                <a href="{% url 'mail:reply' email.id %}" class="btn btn-alert"
                                   type="button">Ответить</a>
                            {% endif %}
                            <div class="fs10 mt10 pull-right" id="delete" data-toggle="modal" data-target="#dialog">
                                <span class="glyphicons glyphicons-bin"></span></div>
                        </div>
                        <div class="modal fade" id="dialog" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">Вы уверены?</h4>
                                    </div>
                                    <div class="modal-body">
                                        Вы действительно хотите удалить письмо?
                                    </div>
                                    <div class="modal-footer">
                                        <form method="post" action="{% url 'mail:delete' email.id %}">
                                            {% csrf_token %}
                                            {% if allow_replying %}
                                                <input type="hidden" name="link_back" value="{{ request.path }}">                                            {% endif %}
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                Отмена
                                            </button>
                                            <button type="submit" class="btn btn-danger">
                                                Удалить
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'mail/js/delete_message.js' %}"></script>
{% endblock %}