html,
body {
    background-color: white;
}

.alert a {
    color: inherit;
    text-decoration: underline;
}

.alert a:hover {
    text-decoration: none;
}

code {
    color: #301779;
    background-color: #e9e2e4;
}

.help-block {
    color: #869696;
}

/* Links */
a.non-underlined-link:focus,
a.non-underlined-link:hover,
a.non-underlined-link:active {
    text-decoration: none;
}

a.non-underlined-link:focus .underlined-link,
a.non-underlined-link:hover .underlined-link,
a.non-underlined-link:active  .underlined-link {
    text-decoration: underline;
}

a.internal-page-link {
    text-decoration: none;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

a.internal-page-link.text-danger {
    border-bottom-color: rgba(223, 86, 64, 0.7);
}

a.internal-page-link.text-danger:hover,
a.internal-page-link.text-danger:focus,
a.internal-page-link.text-danger:active {
    border-bottom-color: rgba(158, 47, 29, 0.7);
}

a.text-danger:hover,
a.text-danger:focus,
a.text-danger:active {
    color: #9e2f1d;
}

/* Visibility */
.visible-on-parent-hover,
.visible-on-grandparent-hover {
    display: none;
}

*:hover > .visible-on-parent-hover {
    display: initial;
}

*:hover > * > .visible-on-grandparent-hover {
    display: initial;
}

.visible-on-row-hover {
    display: none;
}

tr:hover .visible-on-row-hover {
    display: initial;
}

/* Navbar */
.navbar {
    background-color: #fafafa;
}

.sb-l-c .navbar-branding {
    width: auto !important;
    max-width: none !important;
}

.sb-l-c .navbar-brand {
    display: initial !important;
}

.navbar .school-title {
    color: #666;
    height: 60px;
    line-height: 58px;
    padding: 0 0 0 18px;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.5px;
    float: left;
}

/* Topbar */
.breadcrumb > li.crumb-active  {
    color: #555;
    font-size: 18px;
}

/* Hijack */
.hijacked-warning-bootstrap {
    position: fixed;
    bottom: 0;
    z-index: 3;
    width: 100%;
}

/* Admin forms */
.admin-form .heading-border .panel-heading {
    padding: 25px 28px 17px;
}

.admin-form .panel-title .panel-subtitle {
    margin-bottom: 15px;
}

.admin-form .option {
    margin-left: 30px;
}
.admin-form .option .radio,
.admin-form .option .checkbox {
    margin-left: -30px;
}

/* Select2 */
.admin-form .select2-container--default .select2-selection--single {
    background-color: white;
    border-radius: 5px;
    height: 40px;
    padding: 2px 5px;
}

.admin-form .select2-container--default .select2-selection--multiple {
    background-color: white;
    border-radius: 5px;
    height: 40px;
    padding: 2px 5px;
}

.admin-form .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #f0f4f5;
}

.admin-form .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    font-weight: normal;
    margin-right: 5px;
    font-size: 16px;
    line-height: 16px;
}

/* Placeholders */
.form-control:-moz-placeholder  { color: #bbb; opacity: 1; text-overflow:ellipsis; }
.form-control::-moz-placeholder  { color: #bbb; opacity: 1; text-overflow:ellipsis; }
.form-control:-ms-input-placeholder  { color: #bbb; opacity: 1; text-overflow:ellipsis; }
.form-control::-webkit-input-placeholder { color: #bbb; opacity: 1; text-overflow:ellipsis; }

.form-control:not(.dont-hide-placeholder-on-focus):focus:-moz-placeholder { opacity: 0; transition: opacity 0.3s ease; }
.form-control:not(.dont-hide-placeholder-on-focus):focus::-moz-placeholder { opacity: 0; transition: opacity 0.3s ease; }
.form-control:not(.dont-hide-placeholder-on-focus):focus:-ms-input-placeholder { opacity: 0; transition: opacity 0.3s ease; }
.form-control:not(.dont-hide-placeholder-on-focus):focus::-webkit-input-placeholder { opacity: 0; transition: opacity 0.3s ease; }

/* Helpers */
.lh11 { line-height: 11px; }
.lh12 { line-height: 12px; }
.lh13 { line-height: 13px; }
.lh14 { line-height: 14px; }

/* Grades */
.label-grade-0 { background-color: #cc7070; }
.label-grade-3 { background-color: #cc9060; }
.label-grade-5 { background-color: #dddd50; }
.label-grade-6 { background-color: #c2d25a; }
.label-grade-10 { background-color: #70cc70; }

/* Tabs */
.tabs-left > li > a {
    font-weight: 400;
}

.tabs-left > li > a.tabs-group {
    background: #fff;
    pointer-events: none;
    cursor: default;
    border-left-width: 0;
    color: black;
    font-weight: 600;
}

.tabs-left > li:first-child > a.tabs-group {
    border-top-width: 0;
}

.tabs-left > li:last-child > a.tabs-group {
    border-bottom-width: 0;
}

/* Cursor */
.cursor-pointer {
    cursor: pointer;
}

/* Overflows */
.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-hidden {
    overflow: hidden;
}

/* Forms */
.admin-form .gui-textarea.one-line {
    height: 42px;
}

.admin-form .gui-textarea.one-line:focus {
    height: 120px;
}
