@media (max-width: 768px) {
    .admin-form .panel-title {
        font-size: 24px;
        line-height: 27px;
    }

    .admin-form .panel-title .panel-subtitle {
        margin-bottom: 0;
    }

    .admin-form .heading-border .panel-title {
        color: #666;
    }

    .admin-form .heading-border:before {
        height: 6px;
    }

    .admin-form .panel-heading,
    .admin-form .heading-border .panel-heading{
        padding: 15px;
        line-height: 200%;
    }

    .admin-form .panel-body {
        padding: 15px;
    }

    .admin-form .panel-title i.fa {
        font-size: 23px;
        margin-right: 4px;
    }

    .admin-form .option .radio,
    .admin-form .option .checkbox {
        vertical-align: text-top;
    }

    .admin-form .panel-footer.p25 {
        padding: 20px 15px !important;
    }
}