{% load django_tables2 %}
{% load i18n %}
{% load staticfiles %}

<div class="panel panel-visible sistema-frontend-table"
    data-url="{{ table.data_url }}"
    {% if table.prefix %}data-prefix="{{ table.prefix }}"{% endif %}
    data-pagination="{{ table.pagination_options_string }}"
    data-localization-url="{% static "vendor/plugins/datatables/extensions/Plugins/i18n/Russian.lang" %}">
  <div class="panel-heading">
    <div class="panel-title">
      {% if table.icon %}
      <span class="{{ table.icon }}"></span>
      {% endif %}
      <span>{{ table.title }}</span>
      {% if table.search_enabled %}
        <div class="dataTables_filter">
          <span class="input-group ib va-m">
            <input type="search" placeholder="Поиск..." class="table-filter form-control input-sm w200 onfocus-w400 h-30 global-search" aria-controls="datatable2" data-query-arg="{{ table.search_arg }}">
          </span>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="panel-body pn">
    <table class="table table-striped table-hover"{% if table.dt2_table.attrs %} {{ table.dt2_table.attrs.as_html }}{% endif %}>
      <thead>
        <tr>
          {% for column_name, column in table.columns.items %}
            <th {% if column.dt2_column %}{{ column.dt2_column.attrs.th.as_html }}{% endif %}
                  data-name="{{ column_name }}"
                  data-orderable="{% if column.orderable %}true{% else %}false{% endif %}"
              >{{ column.header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
