<div class="table-panel panel" data-table-name='{{ table.table_name }}' data-table-identifiers='{{ table.table_identifiers_json }}'>
    <div class="panel-heading">
        <div class="panel-title">
            {% if table.icon %}
                <span class="{{ table.icon }}"></span>
            {% endif %}
            <span>{{ table.title }}</span>
            <!--
            <span class="pull-right ml10">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm fs12 fw500 dropdown-toggle ph10" data-toggle="dropdown">
                        Действия
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a href="#">Расширенный поиск</a>
                        </li>
                        <li>
                            <a href="#">Выбрать столбцы</a>
                        </li>
                        <li>
                            <a href="#">Развернуть</a>
                        </li>
                    </ul>
                </div>
            </span>
            -->
            <span class="pull-right">
                <span class="input-group ib va-m">
                    <input type="text" placeholder="Поиск по школьникам" class="table-filter form-control w200 onfocus-w400 h-30">
                </span>
            </span>
        </div>
    </div>
    <div class="panel-body pn">
        <table class="table table-hover">
            <tr>
                {% for column in table.columns %}
                    <th>{{ column.title }}</th>
                {% endfor %}
            </tr>
            {% for row in table.rows %}
                <tr>
                    {% for column in row %}
                        <td>{{ column }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>