{% extends 'user/centered_form.html' %}

{% block title %}Восстановить пароль{% endblock %}

{% block form_class %}{% endblock %}

{% block panel_heading %}
    <div class="panel-heading heading-border bg-white pl30 pt25">
        <div class="panel-title">
            <i class="fa fa-lock"></i> Забыли пароль?
        </div>
    </div>
{% endblock %}

{% block panel_footer %}
    <div class="panel-footer clearfix p10 ph15">
        <button type="submit" class="button btn-primary mr10 pull-right">Восстановить пароль</button>
    </div>
{% endblock %}