{% extends 'user/centered_form.html' %}

{% block form_class %}login-and-register-form{% endblock %}

{% block panel_heading %}
    <div class="panel-heading heading-border bg-white">
        <div class="section row mn">
            <div class="col-sm-6">
                <a href="{% url 'users:social:begin' 'vk-oauth2' %}" class="button btn-social vk span-left mr5 btn-block">
                    <span>
                        <i class="fa fa-vk"></i>
                    </span>ВКонтакте
                </a>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'users:social:begin' 'twitter' %}" class="button btn-social twitter span-left mr5 btn-block">
                    <span>
                        <i class="fa fa-twitter"></i>
                    </span>Twitter</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block panel_footer %}
    <div class="panel-footer clearfix p10 ph15">
        <button type="submit" class="button btn-primary mr10 pull-right">Войти</button>
        <a href="{% url 'users:forget' %}" class="btn btn-link pull-right mr10">Забыли пароль?</a>
        <label class="switch ib switch-primary pull-left input-align mt10">
            {{ form.remember_me }}
            <label for="{{ form.remember_me.id_for_label }}" data-on="Да" data-off="Нет"></label>
            <span>{{ form.remember_me.label }}</span>
        </label>
    </div>
{% endblock %}