{#{% load markdown_filter %}#}
{% load markdown_deux_tags %}

<div class="panel">
    <div class="panel-heading">
        {% block panel_icon %}
        {% endblock %}
        <span class="panel-title"> {{ index }}. {{ task.title }}</span>
    </div>
    <div class="panel-body">
        <div class="row">

            {% if task.form.task_type == 'program' %}
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="entrance-exam__task__program__params mb20">
                        <div>Имя входного файла: <b>{{ task.programentranceexamtask.input_file_name }}</b></div>
                        <div>Имя выходного файла: <b>{{ task.programentranceexamtask.output_file_name }}</b></div>
                        <div>Ограничение по времени: <b>{% widthratio task.programentranceexamtask.time_limit 1000 1%} с.</b></div>
                        <div>Ограничение по памяти: <b>{{ task.programentranceexamtask.memory_limit|filesizeformat }} </b></div>
                    </div>
                    {{ task.text|markdown }}

                    <div>
                        <h4>Формат входного файла</h4>
                        {{ task.programentranceexamtask.input_format|markdown }}
                    </div>
                    <div>
                        <h4>Формат выходного файла</h4>
                        {{ task.programentranceexamtask.output_format|markdown }}
                    </div>
                </div>
            {% else %}
                <div class="col-md-9 col-sm-6 col-xs-12">
                    {{ task.text|markdown }}
                </div>
            {% endif %}

            {% if task.form.task_type == 'program' %}
                {% block user_solutions %}
                {% endblock %}
            {% endif %}
            <div class="entrance-exam__task entrance-exam__task__{{ task.form.task_type }} col-md-3 col-sm-6 col-xs-12 form-group has-inf" data-submit-url="{% url 'school:entrance:submit' task.exam.for_school.short_name task.id%}">
                {% block answer_form %}
                    Произошла какая-то ошибка, обновите страницу или напишите <a href="mailto:lksh@lksh.ru">нам</a>.
                {% endblock %}
            </div>
        </div>
    </div>
</div>