{% load markdown_deux_tags %}
{% load staticfiles %}

{% if can_upgrade %}
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-icon">
                <i class="fa fa-level-up"></i>
            </span>
            <span class="panel-title">Повысить уровень</span>
        </div>
        <div class="panel-body">
            <div class="entrance-exam__upgrade__description">
                {% if can_upgrade %}
                    <p>
                        <strong>Поздравляем! Вы решили все практические задачи</strong>
                    </p>
                    <p>
                        Если они показались вам слишком простыми и не&nbsp;потребовали много времени для решения,
                        нажмите на эту кнопку, чтобы получить задания посложнее.
                        Все ваши решения сохранены и будут учтены при зачислении.
                    </p>
                {% elif is_user_at_maximum_level %}
                    Вам уже выданы самые сложные задачи, повышать уровень некуда.
                {% else %}
                    Задачи кажутся слишком простыми? Решите их, и мы выдадим вам более сложные.
                {% endif %}
            </div>

            {% if not is_user_at_maximum_level %}
                <div class="entrance-exam__upgrade">
                    <form action="{% url 'school:entrance:upgrade' request.school.short_name %}" method="POST">
                        {% csrf_token %}
                        <button class="entrance-exam__upgrade__submit btn btn-small mt10 {{ can_upgrade|yesno:'btn-success,disabled btn-default,' }}">Получить более сложные задания</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}