{% extends 'entrance/_exam_task.html' %}

{% block panel_icon %}
    <span class="panel-icon">
       <i class="fa fa-file-pdf-o"></i>
   </span>
{% endblock %}

{% block answer_form %}
    <form method="POST" action="" enctype="multipart/form-data">
        {{ task.form }}
        {% if task.user_solution %}
            <div>
                <a href="{% url 'school:entrance:solution' school.short_name task.user_solution.id %}">Скачать</a> ваше решение для этой задачи
            </div>
        {% endif %}
        {% if task.help_text %}
            <span class="help-block mbn">
                {{ task.help_text }}
            </span>
        {% endif %}
        <em class="status"></em>
    </form>
{% endblock %}