{% extends 'user_layout.html' %}

{% load staticfiles %}
{% load types %}

{% block title %}Вступительная работа{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'entrance/css/exam.css' %}">
{% endblock %}

{% block content %}

    <h1 class="mt10 mb30 text-dark fw400 text-center">Вступительная работа</h1>

    <div class="entrance-exam__upgrade-panel" data-update-url="{% url 'school:entrance:upgrade_panel' request.school.short_name %}">
        {% include 'entrance/_exam_upgrade.html' %}
    </div>

    <div class="entrance-exam tab-block mb40">
        <ul class="nav tabs-left tabs-border mb40">
            {% include 'entrance/_exam_tasks_navigation.html' %}
        </ul>
        <div class="tab-content">
            {% for task in tasks %}
                <div class="entrance-exam__tab tab-pane {% ifequal task.id selected_task_id %}active{% endifequal %}" data-task-id="{{ task.id }}">
                    {% include 'entrance/exam/'|add:task.template_file with index=forloop.counter task=task solution=test_task.user_solution.solution%}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'entrance/js/exam.js' %}"></script>
{% endblock %}
