{% extends 'staff_layout.html' %}

{% load static %}

{% block title %}Группы {{ school.name }}{% endblock %}

{% block topbar_left %}
    <ol class="breadcrumb">
        <li class="crumb-active">
            Группы
        </li>
        <li class="crumb-train">
            <a href="{% url 'school:groups:list' request.school.short_name %}">{{ school.full_name }}</a>
        </li>
    </ol>
{% endblock %}

{% block scripts %}
    <script src="{% static 'frontend/js/table.js' %}"></script>
{% endblock %}

{% block content %}
    {% include 'frontend/table.html' with table=table %}
{% endblock %}
