{% extends 'user_layout.html' %}

{% load staticfiles %}

{% block title %}{{ school.name }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}" >
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="mw1200 center-block">
            <div class="fs30 text-center text-dark pb25">
                {{ school.full_name }}
            </div>

            <div class="entrance-steps past">
                <div class="row">
                    {% for step in steps %}
                        {% if forloop.counter0|divisibleby:4 %}
                            </div>
                            <div class="row">
                        {% endif %}
                        <div class="col-sm-3">
                            {{ step.rendered|safe }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            {% if entrance_status %}
                <div class="entrance-status alert alert-{{ entrance_status.is_enrolled|yesno:'success,danger' }} fs16 text-left">
                    {{ entrance_status.message|urlize|linebreaks }}
                </div>
            {% endif %}

            {% if absence_reason %}
                <div class="entrance-status alert alert-danger fs16 text-left">
                    {{ absence_reason.public_comment|urlize|linebreaks }}
                </div>
            {% endif %}

            {% if entrance_status.is_enrolled %}
                <div class="enrolled-steps">
                    {% comment %}
                        TODO: copy-paste
                    {% endcomment %}
                    <div class="row">
                        {% for step in enrolled_steps %}
                            {% if forloop.counter0|divisibleby:3 %}
                                </div>
                                <div class="row">
                            {% endif %}
                            <div class="col-sm-4 {{ forloop.last|yesno:'col-sm-offset-4,' }}">
                                {{ step.rendered|safe }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
