{% extends 'user_layout.html' %}

{% block title %}{{ questionnaire.title }}{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="mw800 center-block mt30">

            <div class="admin-form theme-alert">
                <div class="panel panel-alert heading-border">

                    <div class="panel-heading">
                        <span class="panel-title">
                            <i class="fa fa-comments"></i> {{ questionnaire.title }}
                        </span>
                    </div>

                    <div class="panel-body">
                        {% if smartq_q.get_status_display == "PASSED" %}
                            <div class="alert alert-border-left alert-success light">
                                <i class="fa fa-info pr5"></i>
                                <strong>Проверочные вопросы пройдены!</strong>
                                <p class="fs13">
                                    Поздравляем, ваша анкета подтверждена!
                                </p>
                            </div>
                        {% endif %}

                        {% for topic_with_marks in topics %}
                            <div class="row">
                                <div class="col-xs-1">
                                    <div class="mnw50 fs30 mr15 text-right text-alert">
                                        {{ forloop.counter }}
                                    </div>
                                </div>
                                <div class="col-xs-11 mb10">
                                    <p class="text-alert fs18 fw600 mt5">
                                        {{ topic_with_marks.topic.title }}
                                    </p>
                                    {% for mark in topic_with_marks.marks %}
                                        <p>
                                            <strong>{{ mark.scale_in_topic.scale.title }}</strong>: {{ mark.label }}
                                            <span class="label label-success label-sm">{{ mark.mark }} из {{ mark.scale_in_topic.scale.max_mark }}</span>
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="panel-footer p25 text-right">
                      <a href="{% url 'school:index' request.school.short_name %}" class="button btn-primary">На главную</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

