{% extends 'user_layout.html' %}

{% load static %}

{% block css %}
  {{ block.super }}
  {% for question in questions %}
    <style>{{ question.generated_question.css|safe }}</style>
  {% endfor %}
{% endblock css %}

{% block title %}Проверочные вопросы{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="mw800 center-block mt30">

    <form method="POST" class="admin-form" action="{% url 'school:topics:finish_smartq' request.school.short_name %}">
      {% csrf_token %}
      <div class="admin-form theme-alert">
        <div class="panel panel-alert heading-border">
          <div class="panel-heading">
            <span class="panel-title">
              <i class="fa fa-comments"></i> Проверочные вопросы
            </span>
          </div>
 
          <div class="panel-body">
            {% if smartq_q.has_check_failed and not smartq_q.is_check_failed_expired%}
              <div class="alert alert-border-left alert-danger light">
                <p class="fs13">
                  <i class="fa fa-info pr5"></i>
                  Во время проверки что-то пошло не так! Мы уже знаем про эту проблему и решаем её. Пожалуйста, попробуйте ещё раз позже.
                </p>
              </div>
            {% endif %}

            <p class="fs13">
              Подтвердите свои знания по&nbsp;темам, которые вы указали как знакомые.
              Ниже находится несколько проверочных вопросов. Вам нужно ответить на&nbsp;все из них.
            </p>
            <p class="fs13">
              Вы можете уйти с&nbsp;этой страницы и вернуться к&nbsp;ответам на&nbsp;вопросы в&nbsp;любой момент, все введённые ответы при этом сохранятся.
            </p>
            <p class="fs13">
              Как только будете уверены в ответах на&nbsp;все вопросы, нажмите на&nbsp;кнопку «Проверить», &mdash; и мы автоматически проверим их.
              Если вы ответите правильно на&nbsp;достаточное количество вопросов, то сможете перейти к&nbsp;решению вступительной работы.
              Если же что-то не&nbsp;получилось, и вы&nbsp;ошиблись,
              вы сможете исправить оценки в&nbsp;тематической анкеты и попробовать заново на&nbsp;другом наборе проверочных вопросов.
            </p>
            <p class="fs13">
              Возможно, вопросы покажутся вам сложными. Ничего страшного. Вернитесь в&nbsp;тематическую анкету, нажав внизу страницы
              на кнопку «Редактировать оценки», исправьте свои оценки по темам, по&nbsp;которым вы не&nbsp;можете решить задачи,
              и получите новый набор проверочных вопросов.
            </p>
            <div class="alert alert-micro alert-border-left alert-warning light text-dark">
              <i class="fa fa-info pr5"></i>
              После успешного ответа на&nbsp;проверочные вопросы исправить тематическую анкету будет нельзя.
            </div>

            {% for question in questions %}
              <div class="row">
                <div class="col-sm-1 hidden-xs">
                  <div class="mnw50 fs30 mr15 text-right text-alert">
                    {{ forloop.counter }}
                  </div>
                </div>
                <div class="col-sm-11 mb10">
                  <p class="text-alert fs18 fw600 mt5">
                    <span class="visible-xs-inline">
                      {{ forloop.counter }}.
                    </span>
                    {{ question.topic_mapping.scale_in_topic.topic.title }}
                  </p>
                  <p class="text-alert">
                    {% autoescape off %}{{ question.generated_question.html }}{% endautoescape %}
                  </p>
                </div>
              </div>
            {% endfor %}

            <div class="alert alert-micro alert-border-left alert-danger light mt10">
              <i class="fa fa-info pr5"></i>
              После нажатия на&nbsp;любую из кнопок изменить ответы на&nbsp;проверочные вопросы будет нельзя.
              После проверки ответов вы сможете получить только новый набор вопросов.
            </div>
          </div>
          <div class="panel-footer p25 text-right">
            <a href="{% url 'school:topics:return_to_correcting' request.school.short_name %}" class="post-request-link button btn-danger mr15">Редактировать оценки</a>
            <button type="submit" name="check" class="button btn-success">Проверить</button>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>

{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% for question in questions %}
    <script>{{ question.generated_question.js|safe }}</script>
  {% endfor %}
  <script src="{% static "vendor/admin-forms/js/jquery.validate.min.js" %}"></script>
  <script src="{% static "smartq/js/smartq.js" %}"></script>
{% endblock %}
