{% extends 'user_layout.html' %}

{% load number_to_text %}
{% load math %}

{% block title %}{{ questionnaire.title }}{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="mw800 center-block mt30">

            <div class="admin-form theme-alert">
                <div class="panel panel-alert heading-border">

                    <div class="panel-heading">
                        <span class="panel-title">
                            <i class="fa fa-comments"></i> {{ questionnaire.title }}
                        </span>
                    </div>
 
                    <div class="panel-body">
                        {% if smartq_q.get_status_display == "FAILED" %}
                            <div class="alert alert-border-left alert-warning light text-dark">
                                <p>
                                    <i class="fa fa-info pr5"></i>
                                    <strong>Проверочные вопросы не&nbsp;пройдены!</strong>
                                </p>
                                <p class="fs13">
                                    Вы дали <strong>{{ smartq_q.errors_count }} неправильн{{ smartq_q.errors_count|russian_pluralize:'ый,ых,ых' }}
                                    ответ{{ smartq_q.errors_count|russian_pluralize:',а,ов' }}</strong>. Это слишком много.
                                </p>
                                <p class="fs13">
                                    Исправьте оценки тематической анкеты и решите проверочные вопросы ещё раз.
                                </p>
                            </div>
                        {% else %}
                            <div class="alert alert-micro alert-default alert-border-left">
                                <h4 class="text-success">
                                    Поздравляем! Вы успешно заполнили тематическую анкету!
                                </h4>

                                <p class="fs13">
                                    Ниже приведены все ваши оценки. Бледным выделены те, которые поставлены вами, их обычно проверять не&nbsp;надо.
                                    Цветом выделены ответы, автоматически проставленные системой.
                                    Пожалуйста, проверьте их правильность.
                                </p>

                                <p class="fs13">
                                    Для исправления оценок нажмите иконку рядом с&nbsp;вопросом. Вот такую: <span class="fa fa-edit"></span>.
                                </p>

                                <p class="fs13">
                                    После проверки оценок мы выдадим вам проверочные вопросы.
                                    Возможно, их не&nbsp;будет. Ничего страшного &mdash; так тоже бывает.
                                    После ответа на&nbsp;проверочные вопросы вернуться к&nbsp;редактированию анкеты будет нельзя.
                                </p>

                                <p class="fs13">
                                    <span class="fa fa-warning"></span> Нечестное заполнение анкеты приведёт к&nbsp;тому,
                                    что вы получите вступительную работу, не&nbsp;соответствующие вашему уровню,
                                    и не&nbsp;сможете попасть в&nbsp;ЛКШ.
                                </p>
                            </div>
                        {% endif %}

                        {% for topic_with_marks in topics %}
                            <div class="row">
                                <div class="col-xs-1">
                                    <div class="mnw50 fs30 mr15 text-right text-{{ topic_with_marks.exists_automatically_mark|yesno:"alert,muted-lighter," }}">
                                        {{ forloop.counter }}
                                    </div>
                                </div>
                                <div class="col-xs-11 mb10">
                                    <p class="text-{{ topic_with_marks.exists_automatically_mark|yesno:"alert,muted-lighter," }} fs18 fw600 mt5">
                                        {{ topic_with_marks.topic.title }}
                                        <span class="fs16">
                                            <a href="{% url 'school:topics:correcting_topic' request.school.short_name topic_with_marks.topic.short_name %}"
                                               title="Исправить оценки"
                                               class="text-{{ topic_with_marks.exists_automatically_mark|yesno:"alert-dark,muted-lighter," }}">
                                                <span class="fa fa-edit"></span>
                                            </a>
                                        </span>
                                    </p>
                                    {% for mark in topic_with_marks.marks %}
                                        <p class="{{ mark.is_automatically|yesno:",text-muted-lighter," }}">
                                            <strong>{{ mark.scale_in_topic.scale.title }}</strong>: {{ mark.label }}
                                            {% with relative_mark=mark.mark|multiply:'10'|divide:mark.scale_in_topic.scale.max_mark|to_int %}
                                                <span class="label label-{{ mark.is_automatically|yesno:"grade-,muted " }}{{ relative_mark }} label-sm">{{ mark.mark }} из {{ mark.scale_in_topic.scale.max_mark }}</span>
                                            {% endwith %}
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="alert alert-micro alert-border-left alert-danger light mt10 mbn">
                            <i class="fa fa-info pr5"></i>
                            <strong>Внимание!</strong>
                            После нажатия на&nbsp;кнопку «Подтвердить» исправить или
                            заново заполнить тематическую анкету будет нельзя.
                        </div>

                    </div>

                    <form method="POST" action="{% url 'school:topics:start_checking' request.school.short_name %}">
                        {% csrf_token %}

                        <div class="panel-footer p25 text-right">
                            <button type="submit" class="button btn-alert">Подтвердить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
