{% extends 'user_layout.html' %}

{% block title %}{{ questionnaire.title }}{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="mw800 center-block mt30">

            <div class="admin-form theme-alert">
                <div class="panel panel-alert heading-border">

                    <div class="panel-heading">
                        <span class="panel-title">
                            <i class="fa fa-comments"></i> {{ questionnaire.title }}
                        </span>
                    </div>
 
                    <div class="panel-body p25">
                        {% if smartq_q.get_status_display == "FAILED" %}
                            <div class="alert alert-border-left alert-warning light text-dark">
                                <i class="fa fa-info pr10"></i>
                                <strong>Проверочные вопросы не пройдены!</strong>
                                <p class="fs13">
                                    Вы допустили слишком много ошибок при ответе на проверочные вопросы. Пожалуйста, перепроверьте вашу тематическую анкету и попробуйте проверить себя ещё раз.
                                </p>
                                <p class="fs13">
                                    Количество допущенных ошибок: {{ smartq_q.errors_count }}
                                </p>
                            </div>
                        {% endif %}

                        <div class="alert alert-micro alert-default alert-border-left">
                            <h4 class="text-success">
                                Поздравляем! Вы справились с заполнением тематической анкеты!
                            </h4>

                            <p class="fs13">
                                Ниже приведены все ваши оценки. Бледным выделены те, которые поставлены вами, их обычно проверять не надо.
                                Цветом выделены ответы, автоматически проставленные системой.
                                Пожалуйста, проверьте их правильность.
                            </p>

                            <p class="fs13">
                                Для исправления оценок нажмите иконку рядом с вопросом. Вот такую <span class="fa fa-edit"></span>.
                            </p>

                            <p class="fs13">
                                <span class="fa fa-warning"></span> Нечестное заполнение анкеты приведёт к тому,
                                что вы получите задания, не соответствующие вашему уровню, и не сможете быть зачислены в ЛКШ.
                            </p>

                            <p class="fs13">
                                После проверки анкеты вам будут предложены проверочные вопросы для подтверждения ваших знаний. Если вопросов не будет, ничего страшного, так тоже бывает. После ответа на них вернуться к редактированию анкеты будет нельзя.
                            </p>
                        </div>

                        {% for topic_with_marks in topics %}
                            <div class="row">
                                <div class="col-xs-1">
                                    <div class="mnw50 fs30 mr15 text-right text-{{ topic_with_marks.exists_automatically_mark|yesno:"alert,muted-lighter," }}">
                                        {{ forloop.counter }}
                                    </div>
                                </div>
                                <div class="col-xs-11 mb10">
                                    <p class="text-{{ topic_with_marks.exists_automatically_mark|yesno:"alert,muted-lighter," }} fs18 fw600 mt5">
                                        {{ topic_with_marks.topic.title }}
                                        <span class="fs16">
                                            <a href="{% url 'school:topics:correcting_topic' request.school.short_name topic_with_marks.topic.short_name %}"
                                               title="Исправить оценки"
                                               class="text-{{ topic_with_marks.exists_automatically_mark|yesno:"alert-dark,muted-lighter," }}">
                                                <span class="fa fa-edit"></span>
                                            </a>
                                        </span>
                                    </p>
                                    {% for mark in topic_with_marks.marks %}
                                        <p class="{{ mark.is_automatically|yesno:",text-muted-lighter," }}">
                                            <strong>{{ mark.scale_in_topic.scale.title }}</strong>: {{ mark.label }}
                                            <span class="label label-{{ mark.is_automatically|yesno:"success,muted," }} label-sm">{{ mark.mark }} из {{ mark.scale_in_topic.scale.max_mark }}</span>
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="alert alert-micro alert-border-left alert-danger light mt10 mbn">
                            <i class="fa fa-info pr10"></i>
                            <strong>Внимание!</strong>
                            После нажатия на «Подтвердить» возможно исправить или заново заполнить анкету будет нельзя.
                        </div>

                    </div>

                    <form method="POST" action="{% url 'school:topics:start_checking' request.school.short_name %}">
                        {% csrf_token %}

                        <div class="panel-footer p25 text-right">
                            <button type="submit" class="button btn-alert">Подтвердить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
