### This file contains requiremenets for SIStema project. Install them with `pip install -r requirements.txt`

### Django stuff
Django >= 1.8.4
Jinja2 >= 2.7.3
django-jinja >= 1.4.1
django-reversion
reversion
django-solo
django-choices
django-markdown-deux
django-ses
python-postmark

boto
requests >= 2.7.0
bs4
python-social-auth
cached-property
mysqlclient
markdown